{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block pagetype %}
{% endblock %}

{% block content %}
    <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">


    <div class="section-navigation">
      <div class="container">
        <ul>
          <li class="selected"><a href="/media/media-library">{{ "Media Library"|t }}</a></li>
          <li><a href="/live">{{ "Watch Live"|t }}</a></li>
        </ul>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
      
        <div class="col-xs-6"></div>

        <div class="row bottom-padding">
          <div class="col-xs-6 text-right font-size-14">
            <a href="/media/media-library">{{ "View more media"|t }} &rsaquo;</a>
          </div>
        </div>

        <div class="featured-video-container">
          <div class="video-placeholder">
            <div class="video-actions">
              {% if entry.vimeoVideoId != 0 %}
                {% set min = 0 %}
                {% set sec = 0 %}
                 {% if entry.vimeoTimecode|length %}
                      {% set min = entry.vimeoTimecode[0].minutes %}
                      {% set sec = entry.vimeoTimecode[0].seconds %}
                 {% endif %}
                {% set video = helpers.vimeo_video(entry.vimeoVideoId,entry.autoplay,min,sec) %}
                <div data-video='embed' class="action-icon">
                  <i class="fa fa-play"></i>
                </div>
                <script type='text/template' id='video-embed'>{{ video }}</script>
              {% endif %}
              {% if entry.audio|length %}
                <div class="action-icon" data-audio data-id='{{ entry.id }}' data-title="{{ entry.title }}">
                  <i class="fa fa-volume-up"></i>
                </div>
                <div class='action-icon'>
                  <form method="post" action="" accept-charset="UTF-8">
                      <input type="hidden" name="action" value="downloadassets/generate/downloadAsset">
                      <input type='hidden' name='id' value='{{ entry.audio[0].id }}'/>
                      <button type='submit' class='action'><i class='fa fa-download'></i></button>
                  </form>
                </div>
              {% endif %}
            </div>
            {% if entry.postImage|length %}
              <img src="{{ entry.postImage[0].getUrl() }}" alt="{{ entry.title }}" />
            {% endif %}
          </div>
        </div>

        <div class="section-title">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
              <h3>{{ entry.title }}</h3>
              <h3 class="small">{{ entry.mediaDate|date('F d, Y g:i a') }} {% if entry.speaker|length %} &nbsp;&middot;&nbsp;{{ entry.speaker[0].title }} {% endif %}</h3>
              <p class="links">
                {% set topics = entry.mediaTopic %}
                  {% for topic in topics %}
                      <a href='/media/media-library?q=topic:{{ topic.id }}'>{{ topic.title }}</a>{% if not loop.last %},{% endif %}
                  {% endfor %}
                  {% if entry.mediaSeason|length %}
                    <a href="/media/media-library?q=season:{{ entry.mediaSeason[0].id }}" class="item-url">{{ entry.mediaSeason[0].title }}</a>
                  {% endif %}
              </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            {% if entry.speaker|length %}
              {% if entry.speaker[0].profileImage|length %}
                  <img src="{{ entry.speaker[0].profileImage[0].getUrl('tf160') }}" alt="entry.speaker[0].title" class="round-avatar full-max-width" />
              {% endif %}
            {% endif %}
          </div>
        </div>
        <br/>
        
        {% if entry.lead is not empty %}
          <p class="lead">{{ entry.lead }}</p>
        {% endif %}
        {{ entry.body }}

      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
{% endblock %}