.welcome-hero {
  background:url('https://stanneaz.org/img/general/assets/bg-welcome.jpg') no-repeat bottom center;
  background-size:cover;

  h1, h2 {
    font-weight:400;
    margin:0;
  }
  h1 {
    color:#fff;
  }
  h2 {
    color:$light-body;
  }

  .text-pad {
    position:relative;
  }

  .welcome-text {
    position:absolute;
    bottom:40px;
    left:0;
  }
  &.video-embedded .welcome-text {
    transition:opacity .3s ease;
    opacity:0;
  }
  .video-placeholder img {
    opacity:0;
  }
  .video-holder {
    transform:scale(.8);
  }

  @media screen and (max-width:$screen-sm-max) {
    .text-pad {
      padding-top:54px;
      padding-bottom:30px;
    }
    .welcome-text {
      bottom:30px;
    }

    h1 {
      font-size:30px;
      line-height:36px;
    }
    h2 {
      font-size:20px;
      line-height:26px;
    }
  }
  @media screen and (min-width:$screen-md-min) {
    .text-pad {
      padding-top:10%;
      padding-bottom:10%;
    }

    h1 {
      font-size:48px;
      line-height:64px;
      color:#fff;
    }
    h2 {
      font-size:24px;
      line-height:34px;
      color:$light-body;
    }
  }
}