{% extends "layouts/_layout" %}

{% block content %}
<div class="page-content-container">
    <div class="container standard-container">
    <h1>500 Internal Server Error</h1>
    <p>Oops! There was a server error on the St. Anne website.</p>
    <p>Where to go from here depends on how you arrived onto this page.  How did you get here?</p>
    <h3>From the Contact Us page:</h3>
    <p>If you found yourself on this page after clicking "Send Now" on the Contact Us page, it may mean that you forgot to click the "I'm not a robot" checkbox. In that case, our website thought you were trying to send us spam.  If you are a real human being who is not spamming us, <a href="/about/contact-us">click here to go back to the Contact Us page</a> and re-send your information.</p>
    <h3>From the Our Leadership page:</h3>
    <p>This is similar to the Contact Us page and requires clicking the "I'm not a robot" checkbox. <a href="/about/our-leadership">click here to go back to the Our Leadership page</a> and re-send your information.</p>
    <h3>From the other pages:</h3>
    <p>We are sorry that the St. Anne website experienced an error.  If this continues, please contact our Communications and Technology department at (480) 507-4476.</p>
    </div>
</div>
{% endblock %}
