{% extends "layouts/_layout" %}

{% block content %}
<div class="page-content-container">
    <div class="container standard-container">
    <h1>500 Internal Server Error</h1>
    <p>Oops! There was a server error on the St. Anne website.  Where to go from here depends on how you arrived onto this page.</p>
    <h3>How did you get here?</h3>
    <p>
    <br><b>From the Contact Us page:</b><br>
    If you found yourself on this page after clicking "Send Now" on the Contact Us page, it may mean that you have content blockers turned on in your browser and our website thought your message was spam.  Try temporarily disabling content blockers.  Then, <a href="/about/contact-us">click here to re-send your information</a>.
    </p>
    <p>
    <b>From the Our Leadership page:</b><br>
    This is similar to the Contact Us page and requires the temporary disabling of content blockers. After disabling them, <a href="/about/our-leadership">click here to go back to the Our Leadership page</a>.
    </p>
    <p><b>From the other pages:</b><br>
    We are sorry that you experienced an error on the St. Anne website.  If this continues, please contact our Communications and Technology department at (480) 507-4476.
    </p>
    </div>
</div>
{% endblock %}
