{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css">
        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<style>
.ycontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#donationArea,#playlistArea,#homilyArea,#facebookArea{display:none}
#homilyArea{display:none;text-align:left;padding:20px 40px;font-size:120%}
</style>
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element"> 
      <div class="featured-content-hero nopad" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
        {# <div class="container">
          <h2 class="caps-header">{{ "Featured at"|t }} <br>St. Anne</h2>
        </div> #}
        <div class=''>
         <div class="featured-items">
            <div id="featured-content-slider" class=''>
              {% if entry.featuredAtStAnne | length %}
              {% set thumb = {
                mode: 'crop',
                width: 2000,
                height: 690,
                quality: 75,
                position: 'top-center'
            } %}
                {% cache globally for 1 day %}
                <ul class='bxslider' id="slider1">
                {% for item in entry.featuredAtStAnne.all() %}
                  {% set link = item.contentLink %}
                    <li>
                      {% if item.vimeoVideoId != 0 %}
                        <iframe src="//player.vimeo.com/video/{{ item.vimeoVideoId }}?api=1&amp;autoplay=false" width=""  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      {% else %}
                        {% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{% endif %}<img src="{{ item.eventImage[0].getUrl(thumb) }}" />
                         {% if item.contentLink is not empty %} </a>{% endif %}
                      {% endif %}
                      {# <div class="caption">
                        <h3>{% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</h3>
                        <p>{{ item.description|chop(limit=170, unit='c') }}</p>
                      </div> #}
                    </li>
                {% endfor %}
                </ul>
                {% endcache %}
              

              <div id="bx-pager">
              {% cache globally for 1 day %}
                {% set thumb2 = {
                    mode: 'crop',
                    width: 80,
                    height: 80,
                    quality: 75,
                    position: 'top-center'
                } %}
                {% for item in entry.featuredAtStAnne.all() %}
                <a data-slide-index="{{ loop.index - 1 }}" href=""><img src="{{ item.eventImage[0].getUrl(thumb2) }}" /></a>
                {% endfor %}
              {% endcache %}
              </div>
            {% endif %}
            </div> <!-- #featured-content-slider -->
            <span id="responsiveFlag"></span>
          </div>
        </div> <!-- .featured-items -->
      </div> <!-- .block-featured-content -->
   
    <div class="giant-block-links clearfix">
      {% if entry.quicklinks|length %}
        {% cache globally for 1 year %}
        {% set qlinks = entry.quicklinks  %}
        {% for item in qlinks.all() %}
          {% set link = item.qlink %}
          {% if loop.index == 1 %}
            <a href="{{ link.url }}" class="bg-dark-brown"><i class="fa fa-bullhorn"></i> {{ link.text }}</a>
          {% elseif loop.index == 2 %}
            <a href="{{ link.url }}" class="bg-light-blue"><i class="fa fa-bullseye"></i> {{ link.text }}</a>
          {% else %}
            <a href="{{ link.url }}" class="bg-dark-blue"><i class="fa fa-envelope"></i> {{ link.text }}</a>
          {% endif %}
        {% endfor %}
        {% endcache %}
      {% endif %}
    </div>

    <div class="page-content-container">
      <div class="container news-grid">
      
        <div class="row news-blocks">
        
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          {% set offertoryUp = craft.entries.section('offertoryUpdates').one() %}
          <style>
          .oContainer{white-space:nowrap}
          .offertoryNumTxt{font-size:18px;color:#005f72;font-weight:bold;}
          .offertoryLabel{font-size:90%;font-weight:bold}
          .weeklynum,.ytdnum{color:#005f72;}
          {% if offertoryUp %}
              {% set wGiving = offertoryUp.pewWeeklyGiving + offertoryUp.eWeeklyGiving  %}
              {% set wBugdet = offertoryUp.pewWeeklyBudget + offertoryUp.eWeeklyBudget  %}
              {% if wBugdet > wGiving %}
                .weeklynum{color:#cc0000;}
              {% endif %}
              {% if offertoryUp.ytdBudget > offertoryUp.ytdGiving %}
                .ytdnum{color:#cc0000;}
              {% endif %}
          {% endif %}
          </style>
              
          <table>
            <tr>
              <td align="left" style="padding-right:15px">  
		        <a href="#donationArea" onclick="displayDonation();"><img src="/img/general/assets/Give-Icon-60x60{% if craft.app.language == 'es-US' %}_es{% endif %}.png" alt="Give to St. Anne" width="60" height="60" /></a>
		      </td>
              <td valign="top">
                <h5><a href="#donationArea" onclick="displayDonation();">{{ "Offertory Update"|t }}</a></h5>
		        {% if offertoryUp %}
		          <div class="excerpt">
		            {% if craft.app.language == 'es-US' %}
		               Donaciones para la semana<br>del {{offertoryUp.givingDateEnding|date('d')}} de {{offertoryUp.givingDateEnding|date('F, Y')}}
		            {% else %}
		              Family giving for the week<br>ending {{offertoryUp.givingDateEnding|date('F d, Y')}}
		            {% endif %}
		          </div>
		        {% endif %}
		      </td>
		    </tr>
		  </table>
		  {% if offertoryUp %}
		    {% if craft.app.language == 'es-US' %}
		      <div class="oContainer">
				<span class="offertoryLabel">Esta semana:</span> <span class="offertoryNumTxt weeklynum">{{wGiving|number_format(0, '.', '.')}} $</span>&nbsp; <span class="offertoryLabel">Planeado:</span> <span class="offertoryNumTxt">{{wBugdet|number_format(0, '.', '.')}} $</span> 
			  </div>
			  <div class="oContainer">
				<span class="offertoryLabel">Año a la fecha:</span> <span class="offertoryNumTxt ytdnum">{{offertoryUp.ytdGiving|number_format(0, '.', '.')}} $</span><br><span class="offertoryLabel">Presupuesto de año a día:</span> <span class="offertoryNumTxt">{{offertoryUp.ytdBudget|number_format(0, '.', '.')}} $</span>
		      </div>
		    {% else %}
			  <div class="oContainer">
				<span class="offertoryLabel">This Week:</span> <span class="offertoryNumTxt weeklynum">${{wGiving|number_format(0, '.', ',')}}</span> &nbsp; <span class="offertoryLabel">Weekly Budget:</span> <span class="offertoryNumTxt">${{wBugdet|number_format(0, '.', ',')}}</span> 
			  </div>
			  <div class="oContainer">
				<span class="offertoryLabel">YTD Giving:</span> <span class="offertoryNumTxt ytdnum">${{offertoryUp.ytdGiving|number_format(0, '.', ',')}}</span> &nbsp; <span class="offertoryLabel">YTD Budget:</span> <span class="offertoryNumTxt">${{offertoryUp.ytdBudget|number_format(0, '.', ',')}}</span>
		      </div>
		    {% endif %}
		  {% else %}
			<div>No offertory data is available at this time.</div>
		  {% endif %}
		  <div style="text-align:center;margin-top:10px"><a href="#donationArea" onclick="displayDonation();" class="btn btn-light-blue" style="margin:0 auto">Donate Today</a></div>
		</div>
		
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock1|raw }}
        </div>  
 
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock2|raw }}
        </div>

        </div>  <!-- end row news-blocks -->        
     
    
        
        <br>
        <hr class="short-divider centered">
        
        
        <div style="text-align:center">
      
       <h4 class="caps-header text-center">
         <a href="#" onclick="displayLive();return false;" >{{ "Live Video Stream"|t }}</a>&nbsp; / &nbsp;<a href="#" onclick="displayPrevStream();return false;" >{{ "Previously Recorded"|t }}</a>
       </h4>
  
      
    <div id="liveArea">
        <div id="youTubeArea">
            <h3 style="display:inline">{{ "St. Anne YouTube Live Stream"|t }}</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="https://www.facebook.com/Stannegilbert/" class="btn btn-light-blue" target="_blank">{{ "St. Anne Facebook Live Stream"|t }}</a><br>
            <div class="ycontainer">
               <iframe src="https://www.youtube.com/embed/live_stream?channel=UCbosi2FmDot80gSSas3rMDg" 
frameborder="0" allowfullscreen class="yvideo"></iframe>
            </div>
        </div>
    </div>
    <div id="playlistArea">
        <h3>Weekend Mass</h3>
        <div class="ycontainer">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLa9PKK2m9n8ljLJFCtDcSL9cGtToJJ3Wr" 
frameborder="0" allowfullscreen class="yvideo"></iframe><br>

        </div>
        <br><h3>Daily Mass</h3>
        <div class="ycontainer">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLa9PKK2m9n8ng2ZFKHos97cW-UXyW57vP" 
frameborder="0" allowfullscreen class="yvideo"></iframe>
        </div>
    </div>

    <div class="giant-block-links clearfix" style="margin:0 auto;padding:0">
        {% if craft.app.language == 'es-US' %}
            <a href="#" onclick="displayDonationArea();return false;" class="bg-dark-brown"><i class="fa fa-heart"></i> ¿puede ayudar? Done hoy</a>
            <a href="#" onclick="displaySpiritualCommunion();return false;" class="bg-light-blue"><i class="fa fa-plus"></i> Hacer una Comunión Espiritual</a>
            <a href="#" onclick="displayHomily();return false;" class="bg-dark-blue"><i class="fa fa-book"></i> Última homilía</a>
        {% else %}
            <a href="#" onclick="displayDonationArea();return false;" class="bg-dark-brown"><i class="fa fa-heart"></i> Can you help? Donate Today</a>
            <a href="#" onclick="displaySpiritualCommunion();return false;" class="bg-light-blue"><i class="fa fa-plus"></i> Make A Spiritual Communion</a>
            <a href="#" onclick="displayHomily();return false;" class="bg-dark-blue"><i class="fa fa-book"></i> Latest Homily</a> 
        {% endif %}     
    </div>
 
    <div id="donationArea" style="display:none;">
        {% if craft.app.language == 'es-US' %}
            <script src="https://forms.ministryforms.net/embed.aspx?formId=daa6ef40-de28-4594-98da-4f3a8039614c&custom-templates="></script>
        {% else %}
            <script src="https://forms.ministryforms.net/embed.aspx?formId=00efe358-ad9e-41ea-86a0-1695fa41eed0&custom-templates="></script>
        {% endif %} 
         
    </div>
      
    <div id="spiritualCommunionArea" style="display:none;">
        {% if craft.app.language == 'es-US' %}
            <img src="http://stanneaz.org/img/general/resources/spiritualCommunion_es.jpg" width="100%" alt="COMUNION ESPIRITUAL (para los que NO pueden comulgar) - Jesus mío, creo que estás en el santísimo sacramento del altar, te amo sobre todas las cosas y deseo tenerte en mi alma. Ya que ahora no puedo recibirte sacramentalmente,  ven espiritualmente a mi corazón. Como si ya hubieses venido, me uno todo  a tí, no te apartes jamás de mí. Así sea. Amen." />
        {% else %}
            <img src="http://stanneaz.org/img/general/resources/spiritualCommunion.jpg" width="100%" alt="Spiritual Communion - My Jesus, I believe that You are present in the Most Holy Sacrament.  I love You above all things, and desire to receive You into my soul.  Since I cannot at this moment receive You sacramentally, come at least spiritually into my heart. I embrace You as if You were already there and unite myself wholly to You.  Never permit me to be separated from you. Amen." />
        {% endif %} 
      
      <br><br>
    </div>
      
    <div id="homilyArea" style="display:none;">
    
 
    {{ entry.body }}
      

      <br><br>
    </div>
      
</div> <!-- .row -->
    
    
    


<br><br>


    <div class="row news-blocks">
   
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock3|raw }}
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock4|raw }}
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock5|raw }}
        </div>          
       
    </div>


      <div class="text-center news-action-links">
        {% if entry.subLinks|length %}
        {% set sublinks = entry.subLinks %}
          {% for item in sublinks.all() %}
            {% set link = item.subLinks %}
            <a href="{{ link.url }}" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ link.text }}</a>
          {% endfor %}
    
        {% endif %}
      </div>
    </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  <script>
function displayDonation(){
  document.getElementById('donationArea').style.display = 'block';
  document.getElementById('donationArea').focus();
}
function displayDonationArea(){
  document.getElementById('spiritualCommunionArea').style.display = 'none';
  document.getElementById('homilyArea').style.display = 'none';
   if(document.getElementById('donationArea').style.display == 'none'){
       document.getElementById('donationArea').style.display = 'block';
   } else {
       document.getElementById('donationArea').style.display = 'none';
   }
}
function displaySpiritualCommunion(){
   document.getElementById('donationArea').style.display = 'none';
   document.getElementById('homilyArea').style.display = 'none';
   if(document.getElementById('spiritualCommunionArea').style.display == 'none'){
       document.getElementById('spiritualCommunionArea').style.display = 'block';
   } else {
       document.getElementById('spiritualCommunionArea').style.display = 'none';
   }
}
function displayHomily(){
   document.getElementById('donationArea').style.display = 'none';
   document.getElementById('spiritualCommunionArea').style.display = 'none';
   if(document.getElementById('homilyArea').style.display == 'none'){
       document.getElementById('homilyArea').style.display = 'block';
   } else {
       document.getElementById('homilyArea').style.display = 'none';
   }
}
function displayLive(){
   document.getElementById('playlistArea').style.display = 'none';
   document.getElementById('liveArea').style.display = 'block';
   document.getElementById('liveArea').focus();
}
function displayPrevStream(){
   document.getElementById('liveArea').style.display = 'none';
   document.getElementById('playlistArea').style.display = 'block';
   document.getElementById('playlistArea').focus();
}
function displayFacebook() {
    document.getElementById('youTubeArea').style.display = 'none';
    document.getElementById('facebookArea').style.display = 'block';
    document.getElementById('facebookArea').focus();
}

</script>

 {# Set visited cookie #}
  {% if not craft.cookies.get('visited') %}
    {{ craft.cookies.set('visited', 'true', now | date_modify("+30 days").timestamp, '/' ) }}
  {% endif %}
  
  
{% endblock %}


