{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block content %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ websiteTitle }}">
<meta property="og:description" content="St. Anne Roman Catholic Parish is located in Gilbert, Arizona. Fiat Voluntas Tua (May God's will be done).">
<meta property="og:image" content="https://stanneaz.org/img/general/Mosaic-1920x1080.jpg">
<meta property='og:url' content='{{ currentURL }}'/>

<meta name="twitter:card" content="summary" /> 
<meta name="twitter:site" content="{{ currentURL }}" /> 
<meta name="twitter:title" content="{{ websiteTitle }}" /> 
<meta name="twitter:description" content="St. Anne Roman Catholic Parish is located in Gilbert, Arizona. Fiat Voluntas Tua (May God's will be done)." /> 
<meta name=twitter:image content="https://stanneaz.org/img/general/Mosaic-1920x1080.jpg" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css">
        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<style>
.ycontainer {position: relative;width: 100%;height: 0;padding-bottom: 56.25%}
/* The current embedded video is not playing well with .ycontainer and .yvideo */
@media screen and (max-width: 991px){
  .ycontainer{padding-bottom: 30%}
}
@media screen and (max-width: 628px){
  .ycontainer{padding-bottom: 36%}
}
@media screen and (max-width: 498px){
  .ycontainer{padding-bottom: 46%}
}
@media screen and (max-width: 413px){
  .ycontainer{padding-bottom: 56.25%}
}
/* end weird padding corrections. */
.yvideo {position: absolute;top: 0;left: 0;width: 100%; height: 100%}
.seatsLeft{border: 1px #005f72 solid; width: 70%; margin:0 auto 30px auto; padding: 10px 20px;}
#topDonate{display:block; text-align:center; width:70%; margin:10px auto 35px auto; padding:2px 3px 3px; border: 1px #000 solid; background-color:#fdea60; color:#000}
#topDonate b {display:block; padding:0 0 1px 0; font-size:130%; color:#c00}
#topDonate i {display:inline-block;color:#000}
#topDonate u {text-decoration:none; color:#c00;font-weight:bold}
.page-content-container{margin-top:0;padding-top:35px;}
#donationArea,#vidArea2,#homilyArea,#facebookArea{display:none}
#homilyArea{display:none;text-align:left;padding:20px 40px;font-size:120%}
.caps-header a{color:#99bfbc}
.caps-header a:hover{text-decoration:underline}
@media screen and (min-width: 1147px)
{
    .worship-links a {font-size: 20px;line-height: 24px;padding: 15px 0;float: left; width: 25%;
    }
}
@media screen and (max-width: 1146px){
.worship-links a {padding: 15px 12px;}
#topDonate,.seatsLeft{width:92%}
}
.worship-links a {display: block;color: #000;background-color:#fff;text-decoration: none;text-align: center;border: 1px #000 solid}
.worship-links a:hover, .worship-links a.active {background-color:#eee}
.besideBtns{display:inline !important;padding-right:10px}
@media screen and (max-width: 768px){
  .besideBtns{display:block !important;padding-right:0}
}
#accordionOrder div, #accordionSongs div, #accordion div.inner,.saTxt{font-size:130%}
#accordionOrder h1, #accordionSongs h1, #accordion h1{font-size:110%;text-align:left}
#songs p, #readings p, #homilyArea p,#orderOfMass p{margin-top:20px}
#songs, #readings, #orderOfMass{text-align:left}
#accordionOrder h4 {color:#c00;text-align:right}
.allPpl,.orTxt,orTxt2,.instTxt{color:#c00}
.allPpl{font-weight:bold}
.orTxt{font-size:120%; font-weight:bold; font-style: italic; padding:20px 0}
.orTxt2{font-weight:bold; font-style: italic;}
.instTxt{display:block;text-align:right}
.rubrica { color: #CC0000; font-style: italic; text-align:right }
.pueblo { font-weight: bold; }


.ui-widget{font-family: "Open Sans", "Helvetica", "Arial", sans-serif;font-size: 100%;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        color: #4A4A4A;
		font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
		font-size: 16px;
		line-height: 22px;
		margin-top:5px;
		padding: 8px 8px;
		outline: none;
		font-weight: 200;
		resize: none;
    }
.ui-widget-content{background:#ffffff !important;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);border-radius: 2px;padding: 28px 20px}
.ui-widget-content a{color:#6aa29d;}
.ui-widget-content a:hover{text-decoration:underline;}
.ui-widget-content a.btn:hover{text-decoration:none;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#005F72}
.ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited{color:#895022}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#ffffff}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border: 1px solid #99BFBC;background: #99BFBC;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{border: 1px solid #99BFBC;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)}
}
@media only screen and (max-width: 768px) {
  .ui-accordion .ui-accordion-content {padding:1em 25px}
}
@media screen and (max-width: 600px) { 
    .ui-accordion .ui-accordion-content {padding:1em 20px}
    .ui-accordion .ui-accordion-header{padding-right:0} 
}

</style>

<div class="sf-content nav-slide-element"> 
    <div class="featured-content-hero nopad" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
        <div class="featured-items">
            <div id="featured-content-slider">
                {% if entry.featuredAtStAnne | length %}
                {% set thumb = {
                  mode: 'crop',
                  width: 2000,
                  height: 480,
                  quality: 75,
                  position: 'top-center'
                  } %}
                {% cache globally for 1 day %}
                <div id="placeHolder1"><img src="https://stanneaz.org/img/carousels/carousel-spacer.png" width="100%" /></div>
                <ul class='bxslider' id="slider1" style="display:none;">
                {% for item in entry.featuredAtStAnne.all() %}
                  {% set link = item.contentLink %}
                    <li>
                      {% if item.vimeoVideoId != 0 %}
                        <iframe src="//player.vimeo.com/video/{{ item.vimeoVideoId }}?api=1&amp;autoplay=false" width=""  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      {% else %}
                        {% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{% endif %}<img src="{{ item.eventImage[0].getUrl(thumb) }}" width="100%" />
                         {% if item.contentLink is not empty %} </a>{% endif %}
                      {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% endcache %}
              

                <div id="bx-pager">
              {% cache globally for 1 day %}
                {% set thumb2 = {
                    mode: 'crop',
                    width: 80,
                    height: 80,
                    quality: 75,
                    position: 'top-center'
                } %}
                {% for item in entry.featuredAtStAnne.all() %}
                <a data-slide-index="{{ loop.index - 1 }}" href=""><img src="{{ item.eventImage[0].getUrl(thumb2) }}" /></a>
                {% endfor %}
              {% endcache %}
                </div>
            {% endif %}
            </div> <!-- #featured-content-slider -->
            <span id="responsiveFlag"></span>
        </div> <!-- .featured-content-hero nopad -->
    </div> <!-- .sf-content nav-slide-element -->
   
    <div class="giant-block-links clearfix">
      {% if entry.quicklinks|length %}
        {% cache globally for 1 year %}
        {% set qlinks = entry.quicklinks  %}
        {% for item in qlinks.all() %}
          {% set link = item.qlink %}
          {% if loop.index == 1 %}
            <a href="{{ link.url }}" class="bg-dark-brown"><i class="fa fa-bullhorn"></i> {{ link.text }}</a>
          {% elseif loop.index == 2 %}
            <a href="{{ link.url }}" class="bg-light-blue"><i class="fa fa-bullseye"></i> {{ link.text }}</a>
          {% else %}
            <a href="{{ link.url }}" class="bg-dark-blue"><i class="fa fa-envelope"></i> {{ link.text }}</a>
          {% endif %}
        {% endfor %}
        {% endcache %}
      {% endif %}
    </div>

    <div class="page-content-container">
    
        {{ entry.topBlock|raw }}  
    
      <div class="container news-grid">
      
        <div class="row news-blocks">
        
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          
               {{ entry.topLeftBlock|raw }}  
          
          {% set offertoryUp = craft.entries.section('offertoryUpdates').one() %}
          <style>
          .oContainer{white-space:nowrap}
          .offertoryNumTxt{font-size:18px;color:#005f72;font-weight:bold;}
          .offertoryLabel{font-size:90%;font-weight:bold}
          .weeklynum,.ytdnum{color:#005f72;}
          .home-donate-button {text-align:center;margin-top:10px}
          .home-donate-button .btn-light-blue {margin:0 auto;background-color:#cc0000;font-weight:bold;}
          {% if offertoryUp %}
              {% set wGiving = offertoryUp.pewWeeklyGiving + offertoryUp.eWeeklyGiving  %}
              {% set wBugdet = offertoryUp.pewWeeklyBudget + offertoryUp.eWeeklyBudget  %}
              {% if wBugdet > wGiving %}
                .weeklynum{color:#cc0000;}
              {% endif %}
              {% if offertoryUp.ytdBudget > offertoryUp.ytdGiving %}
                .ytdnum{color:#cc0000;}
              {% endif %}
          {% endif %}
          </style>
              
          <table>
            <tr>
              <td align="left" style="padding-right:15px">  
		        <a href="#donationArea" onclick="displayDonation();"><img src="/img/general/assets/Give-Icon-60x60{% if craft.app.language == 'es-US' %}_es{% endif %}.png" alt="Give to St. Anne" width="60" height="60" /></a>
		      </td>
              <td valign="top">
                <h5><a href="#donationArea" onclick="displayDonation();">{{ "Offertory Update"|t }}</a></h5>
		        {% if offertoryUp %}
		          <div class="excerpt">
		            {% if craft.app.language == 'es-US' %}
		               Donaciones para la semana<br>del {{offertoryUp.givingDateEnding|date('d')}} de {{offertoryUp.givingDateEnding|date('F, Y')}}
		            {% else %}
		              Family giving for the week<br>ending {{offertoryUp.givingDateEnding|date('F d, Y')}}
		            {% endif %}
		          </div>
		        {% endif %}
		      </td>
		    </tr>
		  </table>
		  {% if offertoryUp %}
		    {% if craft.app.language == 'es-US' %}
		      <div class="oContainer">
				<span class="offertoryLabel">Esta semana:</span> <span class="offertoryNumTxt weeklynum">{{wGiving|number_format(0, '.', '.')}} $</span>&nbsp; <span class="offertoryLabel">Planeado:</span> <span class="offertoryNumTxt">{{wBugdet|number_format(0, '.', '.')}} $</span> 
			  </div>
			  <div class="oContainer">
				<span class="offertoryLabel">Año a la fecha:</span> <span class="offertoryNumTxt ytdnum">{{offertoryUp.ytdGiving|number_format(0, '.', '.')}} $</span><br><span class="offertoryLabel">Presupuesto de año a día:</span> <span class="offertoryNumTxt">{{offertoryUp.ytdBudget|number_format(0, '.', '.')}} $</span>
		      </div>
		    {% else %}
			  <div class="oContainer">
				<span class="offertoryLabel">This Week:</span> <span class="offertoryNumTxt weeklynum">${{wGiving|number_format(0, '.', ',')}}</span> &nbsp; <span class="offertoryLabel">Weekly Budget:</span> <span class="offertoryNumTxt">${{wBugdet|number_format(0, '.', ',')}}</span> 
			  </div>
			  <div class="oContainer">
				<span class="offertoryLabel">YTD Giving:</span> <span class="offertoryNumTxt ytdnum">${{offertoryUp.ytdGiving|number_format(0, '.', ',')}}</span> &nbsp; <span class="offertoryLabel">YTD Budget:</span> <span class="offertoryNumTxt">${{offertoryUp.ytdBudget|number_format(0, '.', ',')}}</span>
		      </div>
		    {% endif %}
		  {% else %}
			<div>No offertory data is available at this time.</div>
		  {% endif %}
		  <div class="home-donate-button"><a href="#donationArea" onclick="displayDonation();" class="btn btn-light-blue">{{ "Donate Today"|t }}</a></div>
		</div>
		
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock1|raw }}
        </div>  
 
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock2|raw }}
        </div>

        </div>  <!-- end row news-blocks -->        

        <br>
        
        
<div style="text-align:center">
      
    <h4 class="caps-header text-center">
          <span id="vidTitle1">{{ "Live"|t }}</span>&nbsp;/&nbsp;<a href="https://www.youtube.com/c/StAnneRomanCatholicParish/videos" target="_blank">YouTube</a>&nbsp;/&nbsp;<a href="https://www.facebook.com/Stannegilbert/videos/" target="_blank">{{ "Facebook"|t }}</a>
    </h4>
    
    {{ liveBroadcastSettings.liveBroadcastVideoEmbed | raw }}
    
    <div id="vidArea2">
           
    </div>
    

    <div class="giant-block-links clearfix" style="margin:0 auto;padding:0">
        <a href="#" onclick="displayDonationArea();return false;" class="bg-dark-brown"><i class="fa fa-heart"></i> {{ "Can you help? Donate Today"|t }}</a>
        <a href="#" onclick="displayWorshipAids();displayReadings();return false;" class="bg-light-blue"><i class="fa fa-plus"></i> {{ "Worship Aids"|t }}</a>
        <a href="#" onclick="displayHomily();return false;" class="bg-dark-blue"><i class="fa fa-book"></i> {{ "Latest Homily"|t }}</a>     
    </div>
 
    <div id="donationArea" style="display:none;">
        {% if craft.app.language == 'es-US' %}
            <script src="https://forms.ministryforms.net/embed.aspx?formId=daa6ef40-de28-4594-98da-4f3a8039614c&custom-templates="></script>
        {% else %}
            <script src="https://forms.ministryforms.net/embed.aspx?formId=00efe358-ad9e-41ea-86a0-1695fa41eed0&custom-templates="></script>
        {% endif %} 
         
    </div>
    
    <div id="worshipAidsArea" style="display:none">
        <div class="worship-links clearfix" style="margin:0 auto;padding:0">
            <a href="#" id="hOrderOfMass" onclick="displayOrderOfMass();return false;"><i class="fa fa-life-ring"></i> {{ "Order of Mass"|t }}</a>
            <!--a href="#" id="hSongs" onclick="displaySongs();return false;"><i class="fa fa-music"></i> {{ "Songs"|t }}</a-->
            <a href="#" id="hReadings" onclick="displayReadings();return false;"><i class="fa fa-book"></i> {{ "Readings"|t }}</a>
            <a href="#" id="hCommunion" onclick="displaySpiritualCommunion();return false;"><i class="fa fa-plus"></i> {{ "Spiritual Communion"|t }}</a>
            <a href="#" id="hResources" onclick="displayResources();return false;"><i class="fa fa-wrench"></i> {{ "Resources"|t }}</a>
        </div>
    
        <div id="orderOfMass" style="display:none">
            <br>
            <h3>{{ "The Order of Mass"|t }}</h3>

			{{ entry.bodyb }}

        </div><!--end orderOfMass-->
    
    
    
        <div id="songs" style="display:none">
            <br>
            {{ entry.songsLead|raw }}
            
            {{ entry.songSection }}

        </div><!--end songs-->
        
        
        
        <div id="readings" style="display:none">
            <br>
            <h3>{{ "Readings"|t }}</h3>
            <div class="saTxt">
			    {% if craft.app.language == 'es-US' %}
				    <p>(<a href="https://stanneaz.org/?pg=readings">Click here for English / Haga clic aquí para inglés</a>)</p>
				    {% set readingFeedUrl = "/es/usccb-readings" %}
			    {% else %}
				    <p>(<a href="https://stanneaz.org/es/?pg=readings">Haga clic aquí para español / Click here for Spanish</a>)</p>
				    {% set readingFeedUrl = "/usccb-readings" %}
			    {% endif %}
			</div>
            <iframe src="{{ readingFeedUrl }}" 
frameborder="0" allowfullscreen style="width:100%;height:5500px"></iframe>
        </div><!--end readings-->
        
        
        
        
        <div id="spiritualCommunionArea" style="display:none;">
       
            {% if craft.app.language == 'es-US' %}
                <img src="https://stanneaz.org/img/general/resources/spiritualCommunion_es.jpg" width="100%" alt="COMUNION ESPIRITUAL (para los que NO pueden comulgar) - Jesus mío, creo que estás en el santísimo sacramento del altar, te amo sobre todas las cosas y deseo tenerte en mi alma. Ya que ahora no puedo recibirte sacramentalmente,  ven espiritualmente a mi corazón. Como si ya hubieses venido, me uno todo  a tí, no te apartes jamás de mí. Así sea. Amen." />
            {% else %}
                <img src="https://stanneaz.org/img/general/resources/spiritualCommunion.jpg" width="100%" alt="Spiritual Communion - My Jesus, I believe that You are present in the Most Holy Sacrament.  I love You above all things, and desire to receive You into my soul.  Since I cannot at this moment receive You sacramentally, come at least spiritually into my heart. I embrace You as if You were already there and unite myself wholly to You.  Never permit me to be separated from you. Amen." />
            {% endif %} 
      
          <br><br>
        </div>
        
        
        
        
        <div id="resources" style="display:none;">
            <br>
            <h3>{{ "Resources"|t}}</h3>      
        
            {{ entry.worshipAidResources|raw }}

        </div>
    
    
    
    

    
    </div>
      

      
    <div id="homilyArea" style="display:none;">
	{% set topicTitle = "none" %}
	{% set latest = "none" %}
	{% set mTitle = "none" %}
	{% set mLead = "none" %}
	{% set mBody = "none" %}
	{% set mDate = "none" %}

	{% set break = 0 %}
	{% for item in craft.entries.section('media').orderBy('mediaDate DESC').all() if break == 0 %}
		{% set time = item.mediaDate|date('g:ia') %}
		{% set mediaTopics = item.mediaTopic %}
		{% for topic in mediaTopics.all() %}
			{% set topicTitle = topic.title %}
		{% endfor %}
		{% if entry.mediaTimeFilter %}
		    {% if entry.mediaTimeFilter in time and topicTitle == entry.mediaTopicFilter and item.body != '' %}
		    	{% set break = 1 %}
			    {% set mTitle = item.title %}
			    {% set mLead = item.lead %}
			    {% set mBody = item.body %}
			    {% set mDate = item.mediaDate|date %}
		    {% endif %}
		{% else %}
            {% if topicTitle == entry.mediaTopicFilter and item.body != '' %}
                {% set break = 1 %}
                {% set mTitle = item.title %}
			    {% set mLead = item.lead %}
			    {% set mBody = item.body %}
			    {% set mDate = item.mediaDate|date %}
            {% endif %}
        {% endif %}
	{% endfor %}
        <br>
        {% if entry.body %}
            {{ entry.body }}
        {% elseif mDate != 'none' %}
            <h3>{{mDate}} - {{mTitle}}</h3>
            <p>{{ mLead }}</p>
            <p>{{ mBody }}</p>
        {% else %}
            {% set media = craft.entries.section('media').one() %}
		    <h3>{{media.date|date}} - {{media.title}}</h3>
            <p>{{ media.lead }}</p>
            <p>{{ media.body }}</p>
	    {% endif %}
        <p>
        {% if craft.app.language == 'es-US' %}
            <a href="/es/media/media-library" class="btn btn-light-blue">Ver Audios de Santa Ana</a>   
        {% else %}
            <a href="/media/media-library" class="btn btn-light-blue">View Media Library</a>        
        {% endif %}
        </p>
    </div> <!-- #homilyArea -->
      
</div> <!-- .row -->
    
    
    


<br><br>


    <div class="row news-blocks">
   
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock3|raw }}
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock4|raw }}
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ entry.homeBlock5|raw }}
        </div>          
       
    </div>
    
    {% if entry.homeBlock6 %}
        <div class="row news-blocks">
   
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{ entry.homeBlock6|raw }}
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{ entry.homeBlock7|raw }}
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{ entry.homeBlock8|raw }}
            </div>          
       
        </div>
    {% endif %}

      <div class="text-center news-action-links">
        {% if entry.subLinks|length %}
        {% set sublinks = entry.subLinks %}
          {% for item in sublinks.all() %}
            {% set link = item.subLinks %}
            <a href="{{ link.url }}" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ link.text }}</a>
          {% endfor %}
    
        {% endif %}
      </div>
    </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  <script>
function displayDonation(){
  document.getElementById('donationArea').style.display = 'block';
  document.getElementById('donationArea').focus();
}

function displayDonationArea(){
  document.getElementById('worshipAidsArea').style.display = 'none';
  document.getElementById('homilyArea').style.display = 'none';
   if(document.getElementById('donationArea').style.display == 'none'){
       document.getElementById('donationArea').style.display = 'block';
   } else {
       document.getElementById('donationArea').style.display = 'none';
   }
}


function displayWorshipAids(){
   document.getElementById('donationArea').style.display = 'none';
   document.getElementById('homilyArea').style.display = 'none';
   if(document.getElementById('worshipAidsArea').style.display == 'none'){
       document.getElementById('worshipAidsArea').style.display = 'block';
   } else {
       document.getElementById('worshipAidsArea').style.display = 'none';
   }
}

function clearWorshipPanels(idName){
    if (idName != 'orderOfMass'){
        document.getElementById('orderOfMass').style.display = 'none';
        document.getElementById('hOrderOfMass').classList.remove('active');
    }
    /*if (idName != 'songs'){
        document.getElementById('songs').style.display = 'none';
        document.getElementById('hSongs').classList.remove('active');
    }*/
    if (idName != 'readings'){
        document.getElementById('readings').style.display = 'none';
        document.getElementById('hReadings').classList.remove('active');
    }
    if (idName != 'spiritualCommunionArea'){
        document.getElementById('spiritualCommunionArea').style.display = 'none';
        document.getElementById('hCommunion').classList.remove('active');
    }
    if (idName != 'resources'){
        document.getElementById('resources').style.display = 'none';
        document.getElementById('hResources').classList.remove('active');
    }
}

function displayOrderOfMass(){
    clearWorshipPanels('orderOfMass');
    if(document.getElementById('orderOfMass').style.display == 'none'){
        document.getElementById('orderOfMass').style.display = 'block';
        document.getElementById('hOrderOfMass').classList.add("active");
    } else {
        document.getElementById('orderOfMass').style.display = 'none';
        document.getElementById('hOrderOfMass').classList.remove('active');
    }
}

function displaySongs(){
   clearWorshipPanels('songs');
   if(document.getElementById('songs').style.display == 'none'){
       document.getElementById('songs').style.display = 'block';
       document.getElementById('hSongs').classList.add("active");
   } else {
       document.getElementById('songs').style.display = 'none';
        document.getElementById('hSongs').classList.remove('active');
   }
}

function displayReadings(){
   clearWorshipPanels('readings');
   if(document.getElementById('readings').style.display == 'none'){
       document.getElementById('readings').style.display = 'block';
       document.getElementById('hReadings').classList.add('active');
   } else {
       document.getElementById('readings').style.display = 'none';
        document.getElementById('hReadings').classList.remove('active');
   }
}


function displaySpiritualCommunion(){
   clearWorshipPanels('spiritualCommunionArea');
   if(document.getElementById('spiritualCommunionArea').style.display == 'none'){
       document.getElementById('spiritualCommunionArea').style.display = 'block';
       document.getElementById('hCommunion').classList.add("active");
   } else {
       document.getElementById('spiritualCommunionArea').style.display = 'none';
       document.getElementById('hCommunion').classList.remove('active');
   }
}

function displayResources(){
   clearWorshipPanels('resources');
   if(document.getElementById('resources').style.display == 'none'){
       document.getElementById('resources').style.display = 'block';
       document.getElementById('hResources').classList.add('active');
   } else {
       document.getElementById('resources').style.display = 'none';
       document.getElementById('hResources').classList.remove('active');
   }
}



function displayHomily(){
   document.getElementById('donationArea').style.display = 'none';
   document.getElementById('worshipAidsArea').style.display = 'none';
   if(document.getElementById('homilyArea').style.display == 'none'){
       document.getElementById('homilyArea').style.display = 'block';
   } else {
       document.getElementById('homilyArea').style.display = 'none';
   }
}
function displayLive(){
   document.getElementById('vidTitle2').style.display = 'none';
   document.getElementById('vidTitle1').style.display = 'inline-block';
   document.getElementById('vidArea2').style.display = 'none';
   document.getElementById('vidArea1').style.display = 'block';
   document.getElementById('vidArea1').focus();
}
function displayPrevStream(){
   document.getElementById('vidTitle1').style.display = 'none';
   document.getElementById('vidTitle2').style.display = 'inline-block';
   document.getElementById('vidArea1').style.display = 'none';
   document.getElementById('vidArea2').style.display = 'block';
   document.getElementById('vidArea2').focus();
}
function displayFacebook() {
    document.getElementById('youTubeArea').style.display = 'none';
    document.getElementById('facebookArea').style.display = 'block';
    document.getElementById('facebookArea').focus();
}


$("#accordion").accordion({ header: "h1", collapsible: true, active: false, heightStyle: "content", animate: 300 });
$("#accordion").accordion("option", "active", $("#firstReading").index("#accordion div"));
$('#accordion h1').bind('click',function(){
    var self = this;
    setTimeout(function() {
         theOffset = $(self).offset();
         $('body,html').animate({ scrollTop: theOffset.top - 25 });
    }, 310); // ensure the collapse animation is done
});
$("#accordionOrder").accordion({ header: "h1", collapsible: true, active: false, heightStyle: "content", animate: 300 });
$('#accordionOrder h1').bind('click',function(){
    var self = this;
    setTimeout(function() {
         theOffset = $(self).offset();
         $('body,html').animate({ scrollTop: theOffset.top - 25 });
    }, 310); // ensure the collapse animation is done
});
$("#accordionSongs").accordion({ header: "h1", collapsible: true, active: false, heightStyle: "content", animate: 300 });
$("#accordionSongs").accordion("option", "active", $("#firstSong").index("#accordionSongs div"));
$('#accordionSongs h1').bind('click',function(){
    var self = this;
    setTimeout(function() {
         theOffset = $(self).offset();
         $('body,html').animate({ scrollTop: theOffset.top - 25 });
    }, 310); // ensure the collapse animation is done
});
$("#accordionOpen").accordion({ header: "h1", collapsible: false, active: false, heightStyle: "content", animate: 300 });


function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
var pageArea = getParameterByName('pg');
if (pageArea == 'readings'){
    displayWorshipAids();
    displayReadings();
    document.getElementById('readings').focus();
    $('body,html').animate({ scrollTop: 1900 }); 
} else if (pageArea == 'songs'){
    displayWorshipAids();
    displayReadings();
    document.getElementById('readings').focus();
    $('body,html').animate({ scrollTop: 1900 });
} else if (pageArea == 'resources'){
    displayWorshipAids();
    displayResources();
    document.getElementById('resources').focus();
    $('body,html').animate({ scrollTop: 1900 });
} else {
}


</script>

 {# Set visited cookie #}
  {% if not craft.cookies.get('visited') %}
    {{ craft.cookies.set('visited', 'true', now | date_modify("+30 days").timestamp, '/' ) }}
  {% endif %}
  
  
{% endblock %}


