{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block content %}

{% spaceless %}
    {% if entry.title is defined %}
        {% set websiteTitle %}{{ entry.title }} | St. Anne{% endset %}
    {% else %}
        {% set websiteTitle %}St. Anne Roman Catholic Parish{% endset %}
    {% endif %}
{% endspaceless %}
{% set currentURL = craft.app.request.absoluteUrl() %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ websiteTitle }}">
<meta property="og:description" content="St. Anne Roman Catholic Parish is located in Gilbert, Arizona. Fiat Voluntas Tua (May God's will be done).">
<meta property="og:image" content="https://stanneaz.org/img/general/Mosaic-1920x1080.jpg">
<meta property='og:url' content='{{ currentURL }}'/>

<meta name="twitter:card" content="summary" /> 
<meta name="twitter:site" content="{{ currentURL }}" /> 
<meta name="twitter:title" content="{{ websiteTitle }}" /> 
<meta name="twitter:description" content="St. Anne Roman Catholic Parish is located in Gilbert, Arizona. Fiat Voluntas Tua (May God's will be done)." /> 
<meta name=twitter:image content="https://stanneaz.org/img/general/Mosaic-1920x1080.jpg" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css">
        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<style>
.ycontainer {position: relative;width: 100%;height: 0;padding-bottom: 56.25%}

/* The current embedded video is not playing well with .ycontainer and .yvideo */
@media screen and (max-width: 991px){
  .ycontainer{padding-bottom: 30%}
}
@media screen and (max-width: 628px){
  .ycontainer{padding-bottom: 36%}
}
@media screen and (max-width: 498px){
  .ycontainer{padding-bottom: 46%}
}
@media screen and (max-width: 413px){
  .ycontainer{padding-bottom: 56.25%}
}
/* end weird padding corrections. */

.yvideo {position: absolute;top: 0;left: 0;width: 100%; height: 100%}
#topDonate{display:block; text-align:center; width:70%; margin:15px auto 15px auto; padding:2px 3px 3px; border: 1px #000 solid; background-color:#fdea60; color:#000}
#topDonate b {display:block; padding:0 0 1px 0; font-size:130%; color:#c00}
#topDonate i {display:inline-block;color:#000}
#topDonate u {text-decoration:none; color:#c00;font-weight:bold}
.page-content-container{margin-top:0;padding-top:35px;}
#donationArea,#vidArea2,#homilyArea,#facebookArea{display:none}
#homilyArea{display:none;text-align:left;padding:20px 40px;font-size:120%}
.caps-header a{color:#99bfbc}
.caps-header a:hover{text-decoration:underline}
@media screen and (min-width: 1147px)
{
    .worship-links a {font-size: 20px;line-height: 24px;padding: 15px 0;float: left; width: 25%;
    }
}
@media screen and (max-width: 1146px){
.worship-links a {padding: 15px 12px;}
#topDonate{width:92%}
}
.worship-links a {display: block;color: #000;background-color:#fff;text-decoration: none;text-align: center;border: 1px #000 solid}
.worship-links a:hover, .worship-links a.active {background-color:#eee}
.besideBtns{display:inline !important;padding-right:10px}
@media screen and (max-width: 768px){
  .besideBtns{display:block !important;padding-right:0}
}
#accordionOrder div, #accordion div.inner,.saTxt{font-size:130%}
#accordionOrder h1, #accordion h1{font-size:110%;text-align:left}
#readings p, #homilyArea p,#orderOfMass p{margin-top:20px}
#readings, #orderOfMass{text-align:left}
#accordionOrder h4 {color:#c00;text-align:right}
.allPpl,.orTxt,orTxt2,.instTxt{color:#c00}
.allPpl{font-weight:bold}
.orTxt{font-size:120%; font-weight:bold; font-style: italic; padding:20px 0}
.orTxt2{font-weight:bold; font-style: italic;}
.instTxt{display:block;text-align:right}
.rubrica { color: #CC0000; font-style: italic; text-align:right }
.pueblo { font-weight: bold; }


.ui-widget{font-family: "Open Sans", "Helvetica", "Arial", sans-serif;font-size: 100%;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        color: #4A4A4A;
		font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
		font-size: 16px;
		line-height: 22px;
		margin-top:5px;
		padding: 8px 8px;
		outline: none;
		font-weight: 200;
		resize: none;
    }
.ui-widget-content{background:#ffffff !important;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);border-radius: 2px;padding: 28px 20px}
.ui-widget-content a{color:#6aa29d;}
.ui-widget-content a:hover{text-decoration:underline;}
.ui-widget-content a.btn:hover{text-decoration:none;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#005F72}
.ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited{color:#895022}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#ffffff}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border: 1px solid #99BFBC;background: #99BFBC;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{border: 1px solid #99BFBC;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)}
}
@media only screen and (max-width: 768px) {
  .ui-accordion .ui-accordion-content {padding:1em 25px}
}
@media screen and (max-width: 600px) { 
    .ui-accordion .ui-accordion-content {padding:1em 20px}
    .ui-accordion .ui-accordion-header{padding-right:0} 
}

</style>


  <div class="sf-content nav-slide-element">

    <div class="page-content-container">
       <div class="container news-grid">
      
      
      {% if entry.lead is not empty %}
          <p class="lead">{{ entry.lead }}</p>
        {% endif %}
        {{ entry.body }}

        {% set home = craft.entries.section('homepage').one() %}

<div style="text-align:center">     
    <h4 class="caps-header text-center">
          <span id="vidTitle1">{{ "Live"|t }}</span>&nbsp;/&nbsp;<a href="https://www.youtube.com/c/StAnneRomanCatholicParish/videos" target="_blank">YouTube</a>&nbsp;/&nbsp;<a href="https://www.facebook.com/Stannegilbert/videos/" target="_blank">{{ "Facebook"|t }}</a>
    </h4>
  
    {{ liveBroadcastSettings.liveBroadcastVideoEmbed | raw }}
    
    <div id="vidArea2">
       
    </div>

    <div class="giant-block-links clearfix" style="margin:0 auto;padding:0">
        <a href="#" onclick="displayDonationArea();return false;" class="bg-dark-brown"><i class="fa fa-heart"></i> {{ "Can you help? Donate Today"|t }}</a>
        <a href="#" onclick="displayWorshipAids();displayReadings();return false;" class="bg-light-blue"><i class="fa fa-plus"></i> {{ "Worship Aids"|t }}</a>
        <a href="#" onclick="displayHomily();return false;" class="bg-dark-blue"><i class="fa fa-book"></i> {{ "Latest Homily"|t }}</a>     
    </div>
 
    <div id="donationArea" style="display:none;">
        {% if craft.app.language == 'es-US' %}
            <script src="https://forms.ministryforms.net/embed.aspx?formId=daa6ef40-de28-4594-98da-4f3a8039614c&custom-templates="></script>
        {% else %}
            <script src="https://forms.ministryforms.net/embed.aspx?formId=00efe358-ad9e-41ea-86a0-1695fa41eed0&custom-templates="></script>
        {% endif %} 
         
    </div>
    
    <div id="worshipAidsArea" style="display:none">
        <div class="worship-links clearfix" style="margin:0 auto;padding:0">
            <a href="#" id="hOrderOfMass" onclick="displayOrderOfMass();return false;"><i class="fa fa-life-ring"></i> {{ "Order of Mass"|t }}</a>
            <a href="#" id="hReadings" onclick="displayReadings();return false;"><i class="fa fa-book"></i> {{ "Readings"|t }}</a>
            <a href="#" id="hCommunion" onclick="displaySpiritualCommunion();return false;"><i class="fa fa-plus"></i> {{ "Spiritual Communion"|t }}</a>
            <a href="#" id="hResources" onclick="displayResources();return false;"><i class="fa fa-wrench"></i> {{ "Resources"|t }}</a>
        </div>
    
          <div id="orderOfMass" style="display:none">
            <br>
            <h3>{{ "The Order of Mass"|t }}</h3>

			{{ home.bodyb }}

        </div><!--end orderOfMass-->
    

        
        
        
        <div id="readings" style="display:none">
            <br>
            <h3>{{ "Readings"|t }}</h3>
            <div class="saTxt">
			    {% if craft.app.language == 'es-US' %}
				    <p>(<a href="https://stanneaz.org/?pg=readings">Click here for English / Haga clic aquí para inglés</a>)</p>
				    {% set readingFeedUrl = "/es/usccb-readings" %}
			    {% else %}
				    <p>(<a href="https://stanneaz.org/es/?pg=readings">Haga clic aquí para español / Click here for Spanish</a>)</p>
				    {% set readingFeedUrl = "/usccb-readings" %}
			    {% endif %}
			</div>
            <iframe src="{{ readingFeedUrl }}" 
frameborder="0" allowfullscreen style="width:100%;height:5500px"></iframe>  
        </div><!--end readings-->
        
        
        
        
        <div id="spiritualCommunionArea" style="display:none;">
       
            {% if craft.app.language == 'es-US' %}
                <img src="https://stanneaz.org/img/general/resources/spiritualCommunion_es.jpg" width="100%" alt="COMUNION ESPIRITUAL (para los que NO pueden comulgar) - Jesus mío, creo que estás en el santísimo sacramento del altar, te amo sobre todas las cosas y deseo tenerte en mi alma. Ya que ahora no puedo recibirte sacramentalmente,  ven espiritualmente a mi corazón. Como si ya hubieses venido, me uno todo  a tí, no te apartes jamás de mí. Así sea. Amen." />
            {% else %}
                <img src="https://stanneaz.org/img/general/resources/spiritualCommunion.jpg" width="100%" alt="Spiritual Communion - My Jesus, I believe that You are present in the Most Holy Sacrament.  I love You above all things, and desire to receive You into my soul.  Since I cannot at this moment receive You sacramentally, come at least spiritually into my heart. I embrace You as if You were already there and unite myself wholly to You.  Never permit me to be separated from you. Amen." />
            {% endif %} 
      
          <br><br>
        </div>
    
    
    
    
    
        <div id="resources" style="display:none;">
            <br>
            <h3>{{ "Resources"|t}}</h3>      
        
            {{ home.worshipAidResources|raw }}

        </div>
    
    
    
    
    

    
    </div>
      

      
    <div id="homilyArea" style="display:none;">
	{% set topicTitle = "none" %}
	{% set latest = "none" %}
	{% set mTitle = "none" %}
	{% set mLead = "none" %}
	{% set mBody = "none" %}
	{% set mDate = "none" %}

	{% set break = 0 %}
	{% for item in craft.entries.section('media').orderBy('mediaDate DESC').all() if break == 0 %}
		{% set time = item.mediaDate|date('g:ia') %}
		{% set mediaTopics = item.mediaTopic %}
		{% for topic in mediaTopics.all() %}
			{% set topicTitle = topic.title %}
		{% endfor %}
		{% if entry.mediaTimeFilter %}
		    {% if home.mediaTimeFilter in time and topicTitle == entry.mediaTopicFilter and item.body != '' %}
		    	{% set break = 1 %}
			    {% set mTitle = item.title %}
			    {% set mLead = item.lead %}
			    {% set mBody = item.body %}
			    {% set mDate = item.mediaDate|date %}
		    {% endif %}
		{% else %}
            {% if topicTitle == home.mediaTopicFilter and item.body != '' %}
                {% set break = 1 %}
                {% set mTitle = item.title %}
			    {% set mLead = item.lead %}
			    {% set mBody = item.body %}
			    {% set mDate = item.mediaDate|date %}
            {% endif %}
        {% endif %}
	{% endfor %}
        <br>
        {% if home.body %}
            {{ home.body }}
        {% elseif mDate != 'none' %}
            <h3>{{mDate}} - {{mTitle}}</h3>
            <p>{{ mLead }}</p>
            <p>{{ mBody }}</p>
        {% else %}
            {% set media = craft.entries.section('media').one() %}
		    <h3>{{media.date|date}} - {{media.title}}</h3>
            <p>{{ media.lead }}</p>
            <p>{{ media.body }}</p>
	    {% endif %}
        <p>
        {% if craft.app.language == 'es-US' %}
            <a href="/es/media/media-library" class="btn btn-light-blue">Ver Audios de Santa Ana</a>   
        {% else %}
            <a href="/media/media-library" class="btn btn-light-blue">View Media Library</a>        
        {% endif %}
        </p>
    </div> <!-- #homilyArea -->
      




      </div>
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
  
  <script>
function displayDonation(){
  document.getElementById('donationArea').style.display = 'block';
  document.getElementById('donationArea').focus();
}

function displayDonationArea(){
  document.getElementById('worshipAidsArea').style.display = 'none';
  document.getElementById('homilyArea').style.display = 'none';
   if(document.getElementById('donationArea').style.display == 'none'){
       document.getElementById('donationArea').style.display = 'block';
   } else {
       document.getElementById('donationArea').style.display = 'none';
   }
}


function displayWorshipAids(){
   document.getElementById('donationArea').style.display = 'none';
   document.getElementById('homilyArea').style.display = 'none';
   if(document.getElementById('worshipAidsArea').style.display == 'none'){
       document.getElementById('worshipAidsArea').style.display = 'block';
   } else {
       document.getElementById('worshipAidsArea').style.display = 'none';
   }
}

function clearWorshipPanels(idName){
    if (idName != 'orderOfMass'){
        document.getElementById('orderOfMass').style.display = 'none';
        document.getElementById('hOrderOfMass').classList.remove('active');
    }
    if (idName != 'readings'){
        document.getElementById('readings').style.display = 'none';
        document.getElementById('hReadings').classList.remove('active');
    }
    if (idName != 'spiritualCommunionArea'){
        document.getElementById('spiritualCommunionArea').style.display = 'none';
        document.getElementById('hCommunion').classList.remove('active');
    }
    if (idName != 'resources'){
        document.getElementById('resources').style.display = 'none';
        document.getElementById('hResources').classList.remove('active');
    }
}

function displayOrderOfMass(){
    clearWorshipPanels('orderOfMass');
    if(document.getElementById('orderOfMass').style.display == 'none'){
        document.getElementById('orderOfMass').style.display = 'block';
        document.getElementById('hOrderOfMass').classList.add("active");
    } else {
        document.getElementById('orderOfMass').style.display = 'none';
        document.getElementById('hOrderOfMass').classList.remove('active');
    }
}

function displayReadings(){
   clearWorshipPanels('readings');
   if(document.getElementById('readings').style.display == 'none'){
       document.getElementById('readings').style.display = 'block';
       document.getElementById('hReadings').classList.add('active');
   } else {
       document.getElementById('readings').style.display = 'none';
        document.getElementById('hReadings').classList.remove('active');
   }
}

function displaySpiritualCommunion(){
   clearWorshipPanels('spiritualCommunionArea');
   if(document.getElementById('spiritualCommunionArea').style.display == 'none'){
       document.getElementById('spiritualCommunionArea').style.display = 'block';
       document.getElementById('hCommunion').classList.add("active");
   } else {
       document.getElementById('spiritualCommunionArea').style.display = 'none';
       document.getElementById('hCommunion').classList.remove('active');
   }
}

function displayResources(){
   clearWorshipPanels('resources');
   if(document.getElementById('resources').style.display == 'none'){
       document.getElementById('resources').style.display = 'block';
       document.getElementById('hResources').classList.add('active');
   } else {
       document.getElementById('resources').style.display = 'none';
       document.getElementById('hResources').classList.remove('active');
   }
}



function displayHomily(){
   document.getElementById('donationArea').style.display = 'none';
   document.getElementById('worshipAidsArea').style.display = 'none';
   if(document.getElementById('homilyArea').style.display == 'none'){
       document.getElementById('homilyArea').style.display = 'block';
   } else {
       document.getElementById('homilyArea').style.display = 'none';
   }
}
function displayLive(){
   document.getElementById('vidTitle2').style.display = 'none';
   document.getElementById('vidTitle1').style.display = 'inline-block';
   document.getElementById('vidArea2').style.display = 'none';
   document.getElementById('vidArea1').style.display = 'block';
   document.getElementById('vidArea1').focus();
}
function displayPrevStream(){
   document.getElementById('vidTitle1').style.display = 'none';
   document.getElementById('vidTitle2').style.display = 'inline-block';
   document.getElementById('vidArea1').style.display = 'none';
   document.getElementById('vidArea2').style.display = 'block';
   document.getElementById('vidArea2').focus();
}
function displayFacebook() {
    document.getElementById('youTubeArea').style.display = 'none';
    document.getElementById('facebookArea').style.display = 'block';
    document.getElementById('facebookArea').focus();
}


$("#accordion").accordion({ header: "h1", collapsible: true, active: false, heightStyle: "content", animate: 300 });
$("#accordion").accordion("option", "active", $("#firstReading").index("#accordion div"));
$('#accordion h1').bind('click',function(){
    var self = this;
    setTimeout(function() {
         theOffset = $(self).offset();
         $('body,html').animate({ scrollTop: theOffset.top - 25 });
    }, 310); // ensure the collapse animation is done
});
$("#accordionOrder").accordion({ header: "h1", collapsible: true, active: false, heightStyle: "content", animate: 300 });
$('#accordionOrder h1').bind('click',function(){
    var self = this;
    setTimeout(function() {
         theOffset = $(self).offset();
         $('body,html').animate({ scrollTop: theOffset.top - 25 });
    }, 310); // ensure the collapse animation is done
});
$("#accordionOpen").accordion({ header: "h1", collapsible: false, active: false, heightStyle: "content", animate: 300 });


function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
var pageArea = getParameterByName('pg');
if (pageArea == 'readings'){
    displayWorshipAids();
    displayReadings();
    document.getElementById('readings').focus();
    $("#accordion").accordion("option", "active", $("#firstReading").index("#accordion div"));
    $('body,html').animate({ scrollTop: 1900 }); 
} else {
}

</script>
{% endblock %}
