## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/javascript "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Send would-be 404 requests to Craft
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/(favicon\.ico)$ [NC]
  RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>


SetOutputFilter DEFLATE

 <IfModule mod_setenvif.c>
  SetEnvIfNoCase Request_URI \.(?:rar|zip)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.(?:gif|jpg|png)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.(?:avi|mov|mp4)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.mp3$ no-gzip dont-vary
 </IfModule>

<IfModule mod_deflate.c>
   AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/ld+json \
                                      application/rss+xml \
                                      application/rdf+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/atom+xml .atom \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
</IfModule>

AddType image/svg+xml svg svgz

Redirect /videoLoader http://98.174.242.120/axis-cgi/mjpg/video.cgi?camera=1&timestamp=1445451619661

Redirect /clergy/homilies/october-2013 http://stanneaz.org/media/media-library
Redirect /clergy/homilies http://stanneaz.org/media/media-library
Redirect /clergy/priests-deacons http://stanneaz.org/about/our-leadership
Redirect /clergy http://stanneaz.org/about/our-leadership
Redirect /contact-us http://stanneaz.org/about/contact-us 
Redirect /en/clergy/homilies http://stanneaz.org/media/media-library
Redirect /en/clergy/priests-deacons http://stanneaz.org/about/our-leadership
Redirect /en/clergy http://stanneaz.org/about/our-leadership
Redirect /en/sacraments http://stanneaz.org/about/sacraments
Redirect /groups/committees/stewardship http://stanneaz.org/stewardship
Redirect /home http://stanneaz.org
Redirect /media-files/live-stream/daily-mass http://stanneaz.org/media/web-streams/daily-mass
Redirect /media-files/live-stream/weekend-mass-video-stream http://stanneaz.org/media/web-streams/weekend-mass
Redirect /media-files/video/reverence-2012 http://vimeo.com/43783573
Redirect /media/latest-homily http://stanneaz.org/media/media-library
Redirect /my-st-anne https://stanneaz.onthecity.org
Redirect /news/events.html http://stanneaz.org/connect/events
Redirect /our-parish/mass-confession-times http://stanneaz.org/about/times-location
Redirect /our-parish http://stanneaz.org/about
Redirect /parish-bulletins http://stanneaz.org/media/weekly-bulletin
Redirect /sacraments/annointing-of-the-sick http://stanneaz.org/about/sacraments/anointing-of-the-sick
Redirect /sacraments/baptism http://stanneaz.org/about/sacraments/baptism
Redirect /sacraments/confession http://stanneaz.org/about/sacraments/reconciliation
Redirect /sacraments/confirmation http://stanneaz.org/about/sacraments/confirmation
Redirect /sacraments/eucharist http://stanneaz.org/about/sacraments/confirmation-first-communion
Redirect /sacraments/holy-orders http://stanneaz.org/about/sacraments/holy-orders
Redirect /sacraments/matrimony/marriage-resources-links http://stanneaz.org/about/sacraments/matrimony
Redirect /sacraments/matrimony/anniversary-blessing http://stanneaz.org/about/sacraments/matrimony
Redirect /sacraments/matrimony/wedding-anniversary-congratulations http://stanneaz.org/about/sacraments/matrimony
Redirect /sacraments/matrimony/anniversary-blessing http://stanneaz.org/about/sacraments/matrimony
Redirect /sacraments/matrimony/live-stream http://stanneaz.org/media/web-streams/weddings
Redirect /sacraments/matrimony http://stanneaz.org/about/sacraments/matrimony
Redirect /sacraments http://stanneaz.org/about/sacraments
Redirect /trivia/scores/hall-of-fame http://trivia.stanneaz.org/scores/hall-of-fame
Redirect /trivia/scores http://trivia.stanneaz.org/scores
Redirect /trivia http://trivia.stanneaz.org
Redirect /staff http://stanneaz.org/about/our-leadership
Redirect /stanne http://stanneaz.org

Redirect /en/ http://stanneaz.org

