.btn {
  // reset
  border:none;
  font-family:inherit;
  outline:none;
  -webkit-appearance:none;
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  white-space:nowrap;
  text-decoration:none;

  // target button height: 52px
  font-size:16px;
  line-height:18px;
  padding:14px 24px;
  border:1px solid $light-brown;
  color:$dark-gray;
  border-radius:4px;
  font-weight:400;

  margin:0 8px 8px 0;
  &:last-child { margin-right:0; }

  &:hover {

  }
  &:active {

  }
  &:focus {

  }
  &[disabled="disabled"] {

  }

  i:not(:only-child) {
    margin-right:4px;
  }
}

// 100%-width button
.btn-full-width {
  display:block;
  padding-left:0;
  padding-right:0;
  text-align:center;
  width:100%;
}

// Additional button sizes
.btn-sm {
  // 28px target height
  font-size:12px;
  line-height:14px;
  padding:7px 12px;
  text-transform:uppercase;
  border-radius:2px;
}
.btn-lg {
  // 72px target height
  font-size:24px;
  line-height:28px;
  padding:22px 30px;
}

// Button colors
.btn-light-blue {
  background:$light-blue;
  border:none;
  color:#fff !important;

  &:hover {
    background:$light-blue-hover;
  }
}
.btn-dark-blue {
  background:$dark-blue;
  border:none;
  color:#fff !important;

  &:hover {
    background:$dark-blue-hover;
  }
}
.btn-dark-brown {
  background:$dark-brown;
  border:none;
  color:#fff !important;

  &:hover {
    background:$dark-brown-hover;
  }
}
.btn-light-brown-border {
  border:2px solid $light-body;
  color:$dark-gray !important;
  padding-top:12px;
  padding-bottom:12px;

  &.btn-sm {
    padding-top:5px;
    padding-bottom:5px;
  }
  &.btn-lg {
    padding-top:20px;
    padding-bottom:20px;
  }

  &:hover {
    background:lighten($light-body, 20%);
  }
}
.btn-white {
  border-color:transparent;
  color:$dark-blue !important;
  background:#fff !important;

  &:hover {
    background:rgba(255,255,255,.7) !important;
  }
}