.btn {
  // reset
  border:none;
  font-family:inherit;
  outline:none;
  -webkit-appearance:none;
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  white-space:nowrap;
  text-decoration:none;

  // target button height: 52px
  font-size:16px;
  line-height:18px;
  padding:14px 24px;
  border:1px solid $light-brown;
  color:$dark-gray;
  border-radius:4px;
  font-weight:400;

  margin:0 8px 8px 0;
  &:last-child { margin-right:0; }

  &:hover {

  }
  &:active {

  }
  &:focus {

  }
  &[disabled="disabled"] {
    background:$light-brown !important;
    border-color:transparent !important;
    color:#fff !important;
    cursor:default;
  }

  i:not(:only-child) {
    margin-right:4px;
  }
}

// 100%-width button
.btn-full-width {
  display:block;
  padding-left:0;
  padding-right:0;
  text-align:center;
  width:100%;
}


// Additional button sizes
.btn-sm {
  // 28px target height
  font-size:12px;
  line-height:14px;
  padding:7px 12px;
  text-transform:uppercase;
  border-radius:2px;
}
.btn-lg {
  // 72px target height
  font-size:24px;
  line-height:28px;
  padding:22px 30px;
}

// Button colors
.btn-light-blue {
  background:$light-blue;
  border:none;
  color:#fff !important;

  &:hover {
    background:$light-blue-hover;
  }
}
.btn-light-grey,
button.btn:disabled {
  background:#777777 !important;
  border:none;
  color:#fff !important;

  &:hover {
    background:#777777;
  }
}
.btn-dark-blue {
  background:$dark-blue;
  border:none;
  color:#fff !important;

  &:hover {
    background:$dark-blue-hover;
  }
}
.btn-dark-brown {
  background:$dark-brown;
  border:none;
  color:#fff !important;

  &:hover {
    background:$dark-brown-hover;
  }
}
.btn-light-brown-border {
  border:2px solid $light-body;
  color:$dark-gray !important;
  padding-top:12px;
  padding-bottom:12px;

  &.btn-sm {
    padding-top:5px;
    padding-bottom:5px;
  }
  &.btn-lg {
    padding-top:20px;
    padding-bottom:20px;
  }

  &:hover {
    background:lighten($light-body, 20%);
  }
}
.btn-white {
  border-color:transparent;
  color:$dark-blue !important;
  background:#fff !important;

  &:hover {
    background:rgba(255,255,255,.7) !important;
  }
}

.spinner{
  padding-left: 5px;
  >i{
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
  }
}
@-webkit-keyframes rotateThis {
  from {-webkit-transform:scale(0.8) rotate(0deg);}
  to {-webkit-transform:scale(0.8) rotate(360deg);}
}

.addthis_button_compact > span{
  display: inline-block !important;
}

.addthis_native_toolbox + p{
  margin-top: 15px;
}
h3 + .addthis_native_toolbox{
  margin-top: 15px;
}
.addthis_native_toolbox div,.addthis_native_toolbox span,.addthis_native_toolbox iframe {
  vertical-align:middle
}
.addthis_button_tweet{
  padding:0 10px
}
