// Base inuit CSS
@import "inuit/settings.defaults";
@import "inuit/tools.functions";
@import "inuit/tools.mixins";
@import "inuit/generic.normalize";
@import "inuit/generic.box-sizing";

// Extra vars + mixins for this project
@import "vars";
@import "mixins";

// Base html/body styles
@import "inuit/base.page";

// Bootstrap grid mixins + responsive grid utilities, plus the grid builder
@import "grid/grid-framework";
@import "grid/grid";
@import "grid/responsive-visibility";
@import "grid/responsive-utilities";
@import "grid";

// Icons
@import "font-awesome/font-awesome";

// General components
@import "buttons";
@import "forms";
@import "images";
@import "typography";
@import "utility";

// Global layout components
@import "header";
@import "footer";

// Misc. site components
@import "components/block-links";
@import "components/content-summary-list";
@import "components/featured-content-hero";
@import "components/featured-media";
@import "components/mobile-menu";
@import "components/owl-carousel";
@import "components/pagination";
@import "components/section-navigation";
@import "components/social-circles";
@import "components/sticky-footer";
@import "components/welcome";

// Page-specific CSS
@import "pages/blog";
@import "pages/contact";
@import "pages/events";
@import "pages/news";
@import "pages/staff";
@import "pages/video";
