//
// Grid system
// --------------------------------------------------

// Clearfix divs
.clearfix {
  @include clearfix();
}


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include container-fixed();
  @include clearfix();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// the standard max container width is 810px; apply this class to use it
.standard-container {
  max-width: 810px;
}

// Use .page-content-container to apply standard amount of top-bottom padding to page content area
.page-content-container {
  @media screen and (max-width:$screen-xs-max) {
    padding:36px 0 60px;
  }
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
    padding:48px 0 80px;
  }
  @media screen and (min-width:$screen-md-min) {
    padding:60px 0 120px;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row();

  &.top-padding {
    @media screen and (min-width:$screen-xs) {
      padding-top:30px;
    }
    @media screen and (max-width:($screen-xs - 1)) {
      padding-top:20px;
    }
  }
  &.bottom-padding {
    @media screen and (min-width:$screen-xs) {
      padding-bottom:30px;
    }
    @media screen and (max-width:($screen-xs - 1)) {
      padding-bottom:20px;
    }
  }
}


// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}