html {
  // reset these inuit settings; don't use special antialiasing
  -moz-osx-font-smoothing: auto;
   -webkit-font-smoothing: auto;
}

body {
  font-family:$font-family-sans-serif;
  font-weight:300;
}

// Font sizes
.font-size-12 { font-size:12px; }
.font-size-14 { font-size:14px; }
.font-size-16 { font-size:16px; }
.font-size-18 { font-size:18px; }
.font-size-20 { font-size:20px; }
.font-size-24 { font-size:24px; }
.font-size-28 { font-size:28px; }
.font-size-30 { font-size:30px; }
.font-size-36 { font-size:36px; }
.font-size-42 { font-size:42px; }
.font-size-48 { font-size:48px; }
.font-size-54 { font-size:54px; }
.font-size-60 { font-size:60px; }

// Line heights
.line-height-14 { line-height:14px; }
.line-height-16 { line-height:16px; }
.line-height-18 { line-height:18px; }
.line-height-20 { line-height:20px; }
.line-height-24 { line-height:24px; }
.line-height-28 { line-height:28px; }
.line-height-30 { line-height:30px; }
.line-height-36 { line-height:36px; }
.line-height-42 { line-height:42px; }

// Weights
.font-weight-light { font-weight:200; }
.font-weight-medium { font-weight:400; }
.font-weight-heavy { font-weight:600; }

// Alignment
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }

// default links
a {
  color:$light-blue;
  text-decoration:none;

  &:hover {
    color:$dark-brown;
  }
}

// paragraphs
p {
  margin:0 0 36px;

  @media screen and (max-width:$screen-xs) {
    margin:0 0 18px;
  }

  &:last-child {
    margin-bottom:0;
  }
}

// "lead" text
.lead {
  font-size:24px;
  line-height:36px;
  color:darken($light-body,20%);

  @media screen and (max-width:$screen-xs) {
    font-size:20px;
    line-height:28px;
  }
}

// small, light, bold text
.muted {
  font-size:14px;
  font-weight:600;
  color:$light-body;
}

// quotes
.blockquote {
  text-align:center;
  font-size:20px;
  line-height:34px;
  font-weight:600;
  color:$dark-gray;
  margin:0 0 30px;
}
cite {
  font-size:14px;
  line-height:18px;
  display:block;
  text-align:center;
  color:$light-body;
  font-style:normal;
  margin-top:18px;
}


// reset list styles
ul, ol {
  margin:0;
  padding:0;
  list-style:none;
}

// default hr
hr {
  border:none;
  margin:24px 0;
  background:#E1DFDB;
  width:100%;
  height:1px;
  display:block;
}

// short, centered horizontal divider
hr.short-divider {
  width:120px;
  height:4px;
  border:none;
  background:$light-body;
  margin:0 0 42px;

  &.centered {
    margin-left:auto;
    margin-right:auto;
  }

  @media screen and (max-width:$screen-xs) {
    height:3px;
    width:100px;
    margin-bottom:36px;
  }
}

// bold, all-caps, letter-spaced text headings
.caps-header,
.caps-title {
  font-size:32px;
  font-size:32px;
  line-height:38px;
  font-weight:700;
  letter-spacing:3px;
  color:$dark-gray;
  margin:54px 0 18px;
  text-transform:uppercase;

  &:first-child {
    margin-top:0;
  }

  @media screen and (max-width:$screen-xs-max) {
    font-size:24px;
    letter-spacing:2px;
    line-height:30px;
    margin-bottom:18px;
  }
}


// Headers

h1, .h1 {
  font-size:48px;
  line-height:64px;
}
h2, .h2 {

}
h3, .h3 {
  font-size:36px;
  line-height:46px;
  font-weight:200;
  color:$dark-brown;
  margin:0 0 18px;

  @media screen and (max-width:$screen-xs) {
    font-size:30px;
    line-height:34px;
  }
}
h3.small {
  font-size:20px;
  line-height:26px;
  color:$light-body;
}
// reduce space between double h3's
h3 + h3.small {
  margin-top:-16px;
  margin-bottom:36px;
}
h3.bottom-border {
  padding-bottom:12px;
  border-bottom:1px solid $border;

  @media screen and (max-width:$screen-xs) {
    padding-bottom:6px;
  }
}

h5, .h5, h6, .h6 {
  font-size:20px;
  line-height:24px;
  font-weight:600;
  margin:30px 0 6px;

  &:first-child {
    margin-top:0;
  }
}
h5, .h5 {
  color:$dark-gray;
  a, a:hover {
    color:$dark-gray;
  }
  a:hover {
    text-decoration:underline;
  }
}
h6, .h6 {
  color:$dark-brown;
  a, a:hover {
    color:$dark-brown;
  }
  a:hover {
    text-decoration:underline;
  }
}


// page title w/ photo background
.page-photo-title {
  background:url('../img/bg-page-photo-title.jpg') no-repeat top center;
  background-size:cover;
  padding-top:23%;

  .overlay {
    width:100%;
    background:rgba(0,0,0,.5);
    padding:48px 0;
    text-align:center;
  }
  .caps-header {
    font-size:40px;
    line-height:42px;
    letter-spacing:4px;
    color:#fff;
    margin:0;
  }

  @media screen and (max-width:$screen-xs) {
    .overlay {
      padding:20px 0;
    }
    .caps-header {
      font-size:30px;
      line-height:36px;
      letter-spacing:3px;
    }
  }
}

// section title with optional right-aligned action links
.section-title {
  margin-bottom:36px;

  &.top-border {
    padding-top:30px;
    border-top:1px solid $border;
  }
  &.bottom-border {
    padding-bottom:30px;
    border-bottom:1px solid $border;
  }

  h3.small {
    margin-bottom:6px;
  }

  .action-links {
    padding-top:14px;
    font-size:14px;
    line-height:20px;
    font-weight:400;

    a {
      margin-right:6px;
      white-space:nowrap;
    }
    a:first-child {
      margin-left:12px;
    }
    a:last-child {
      margin-right:0;
    }
    a:only-child {
      margin-left:0;
      margin-right:0;
    }

    // reset above margins for buttons
    a.btn {
      margin-left:0;
      margin-right:6px;
    }
    a.btn:last-child {
      margin-right:0;
    }

    // right-align text/buttons if this is a column
    @media screen and (max-width:$screen-xs-max) {
      &[class*="col-xs-"] { text-align:right; }
    }
    @media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
      &[class*="col-sm-"] { text-align:right; }
    }
    @media screen and (min-width:$screen-md-min) and (max-width:$screen-md-max) {
      &[class*="col-md-"] { text-align:right; }
    }
    @media screen and (min-width:$screen-lg-min) {
      &[class*="col-lg-"] { text-align:right; }
    }
  }

  @media screen and (max-width:$screen-xs-max) {
    .action-links {
      text-align:left;
    }
  }
}

.standard-container{
  ul{
    margin-left: 8%;
    margin-bottom: 5%;
    list-style-type: disc;
    li{
      margin-bottom: 1.3em;
    }
  }
  ol{
    margin-left: 8%;
    margin-bottom: 5%;
    list-style-type: decimal;
    li{
      margin-bottom: 1.3em;
    }
  }
}

@media screen and (max-width:$screen-xs-max) {
  .standard-container{
    img{
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
  .standard-container{
    img{
      width: 100%;
      height: auto;
    }
  }
}