.pull-left {
  float:left;
}
.pull-right {
  float:right;
}
.clear {
  clear:both;
}
.hide, .hidden {
  display:none;
}

.full-max-width {
  max-width:100%;
  height:auto;
}
.full-width {
  width:100%;
}