{% if craft.app.language == 'es-US' %}
    {% set response = craft.twitter.get('statuses/user_timeline', {'screen_name':'pontifex_es',count:1,tweet_mode:'extended'}) %}
{% else %}
    {% set response = craft.twitter.get('statuses/user_timeline', {'screen_name':'pontifex',count:1,tweet_mode:'extended'}) %}
{% endif %}

<div class="sf-footer nav-slide-element">
{# % if response.success %}
    {% set tweets = response.data %}
    {% for item in tweets %}
        {{ item.full_text }}
    {% endfor %}
    <pre>{{ tweets|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% else %}
    <p>An error occured:</p>
    <pre>{{ response.data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endif % #}
    <div class="pontifex-tweets">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <img src="/img/general/assets/avatar-pope-francis.png" alt="Pope Francis" class="avatar round-avatar" />
            <div class="recent-tweet">
                {% if response.success %}
                  {% set tweets = response.data %}
                  {% for tweet in tweets %}
                     {% set url = 'https://twitter.com/' ~ tweet.user.screen_name ~ '/status/' ~ tweet.id %}
                    <div class="tweet-contents">
                      {{ tweet.full_text|raw }}
                    </div>
                    <div class="tweet-meta">
                      <a href="{{ url }}" target="_blank"><i class="fa fa-twitter"></i> {{ tweet.created_at|date('F jS \\a\\t g:ia') }}</a>
                      <span class="dot">&middot;</span>
                      <a href="{{ url }}" target="_blank">@{{ tweet.user.screen_name }}</a>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% cache globally for 3 months %}
  <footer class="site-footer">
    <div class="container">
      <div class="copyright">
        &copy; {{ "now"|date('Y') }} {{ "St. Anne Roman Catholic Parish"|t }}

        <div class="links">
            {% for item in siteWideContent.footerLinks.all() %}
              {% set link = item.footerLink %}
              <span class="dot">&middot;</span>
              <a href='{{ link.url }}' {{ link.target ? ' target="_blank"' }}>{{ link.text }}</a>
            {% endfor %}
          <ul class="social-circles" style="display:inline-block">
            {% for service in siteWideSocialLinks.socialLinks.all() %}
              {% set link = service.serviceUrl %}
              <li class="socialSm">
                <a href='{{ link.url }}' class='bg-{{ service.service | lower }} social__link'>
                  <i class='fa fa-{{ service.service | lower }}'></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="site-by"></div>
    </div>
  </footer>
{% endcache %}
</div> <!-- .sf-footer -->
