<div class="sf-footer nav-slide-element">
    <div class="pontifex-tweets">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <img src="/img/general/assets/avatar-pope-francis.png" alt="Pope Francis" class="avatar round-avatar" />
            <div class="recent-tweet">
                {% if craft.app.language == 'es-US' %}
                    <a class="twitter-timeline" data-lang="es" data-height="220" href="https://twitter.com/Pontifex_es?ref_src=twsrc%5Etfw">Tweets de Pontifex_es</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                {% else %}
                    <a class="twitter-timeline" data-height="220" href="https://twitter.com/Pontifex?ref_src=twsrc%5Etfw">Tweets by Pontifex</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% cache globally for 3 months %}
  <footer class="site-footer">
    <div class="container">
      <div class="copyright">
        &copy; {{ "now"|date('Y') }} {{ "St. Anne Roman Catholic Parish"|t }}

        <div class="links">
            {% for item in siteWideContent.footerLinks.all() %}
              <span class="dot">&middot;</span>
              <a href='{{ item.footerLink }}'>{{ item.footerText }}</a>
            {% endfor %}
          <ul class="social-circles" style="display:inline-block">
            {% for service in siteWideSocialLinks.socialLinks.all() %}
              <li class="socialSm">
                <a href='{{ service.serviceUrl }}' class='bg-{{ service.service | lower }} social__link' target="_blank">
                  <i class='fa fa-{{ service.service | lower }}'></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="site-by"></div>
    </div>
  </footer>
{% endcache %}
</div> <!-- .sf-footer -->
