<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% spaceless %}{% if entry.title is defined %}
    {% if entry.title == "Homepage"%}
        {% set websiteTitle = 'St. Anne Roman Catholic Parish' %}
    {% else %}
        {% set websiteTitle %}{{ entry.title }} | St. Anne{% endset %}
    {% endif %}
  {% endif %}
{% endspaceless %}

<title>{{ websiteTitle }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<meta name="base_url" content="{{ siteUrl }}">

{% set currentURL = craft.app.request.absoluteUrl() %}
<meta property='og:title' content='{{ websiteTitle }}'/>
{% if entry.pageImage.exists() %}
  {% set pageImage = entry.pageImage.one().getUrl('tf280') %}
{% endif %}
<meta property="og:type" content="website">
<meta property="og:description" content="St. Anne Roman Catholic Parish is located in Gilbert, Arizona. Fiat Voluntas Tua (May God's will be done).">
<meta property="og:image" content="https://stanneaz.org/img/general/Mosaic-1920x1080.jpg">
<meta property='og:url' content='{{ currentURL }}'/>

<meta name="twitter:card" content="summary" /> 
<meta name="twitter:site" content="{{ currentURL }}" /> 
<meta name="twitter:title" content="{{ websiteTitle }}" /> 
<meta name="twitter:description" content="St. Anne Roman Catholic Parish is located in Gilbert, Arizona. Fiat Voluntas Tua (May God's will be done)." /> 
<meta name=twitter:image content="https://stanneaz.org/img/general/Mosaic-1920x1080.jpg" />


<link rel="shortcut icon" type="image" href="https://stanneaz.org/assets/img/favicon.ico" />
<link rel="icon" href="https://stanneaz.org/assets/img/favicon.ico">
<link rel="icon" type="image/svg+xml" sizes="any" href="https://stanneaz.org/assets/img/icon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="https://stanneaz.org/assets/img/apple-touch-icon.png">
<link rel="mask-icon" href="https://stanneaz.org/assets/img/safari-pinned-tab.svg" color="#005F72">
        
<link rel="prerender" href="/start-here" />
<link href='/assets/css/global.css' rel='stylesheet'/>

{% if entry.headTagContent|length %}
  {{ entry.headTagContent|raw }} 
{% endif %}

