.featured-content-hero.nopad{
  padding-bottom: 0px;
}
.featured-content-hero {
  background:url('http://s3.amazonaws.com/media.stanneaz.com/craft/assets/bg-featured-content.jpg') no-repeat top center;
  background-size:cover;
  padding-bottom:48px;

  @media screen and (max-width:$screen-xs-max) {
    // &:before {
    //   display:block;
    //   content:"";
    //   z-index:50;
    //   position:absolute;
    //   width:100%;
    //   height:120px;
    //   background:linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
    // }
  }

  .container {
    position:relative;
    z-index:60; // position the container behind the carousel nav
  }

  .caps-header {
    color:#fff;
    text-align:center;
    font-size:40px;
    line-height:54px;
    margin:54px 0;

    br {
      display:none;
    }

    @media screen and (max-width:579px) {
      font-size:26px;
      line-height:34px;
      letter-spacing:2px;
      margin:40px 0;
    }
    @media screen and (max-width:$screen-xs) {
      br {
        display:block;
      }
    }
  }

  .featured-items {
    position:relative;
    overflow:hidden;
  }
  .owl-item {
    float:left;
    opacity:0;
    visibility:hidden;
    transition:opacity .5s ease, visibility 0 .5s ease;
    // transform:scale(0);
    // transition:transform .8s ease, opacity .5s ease, visibility 0 .5s ease;
  }
  .owl-item.active {
    opacity:1;
    visibility:visible;
    transition:opacity .5s ease, visiblity 0 0 ease;
    // transform:scale(1);
    // transition:transform .8s ease, opacity .5s ease, visiblity 0 0 ease;
  }

  @media screen and (min-width:$screen-lg-min) {
    .owl-item {
      width:33.333333333%;
      padding-left:20px;
      padding-right:20px;
    }
  }
  @media screen and (min-width:$screen-md-min) and (max-width:$screen-md-max) {
    .owl-item {
      width:33.333333333%;
      padding-left:15px;
      padding-right:15px;
    }
  }
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
    .owl-item {
      width:33.333333333%;
      padding-left:15px;
      padding-right:15px;
    }
  }
  @media screen and (min-width:580px) and (max-width:$screen-xs-max) {
    .owl-item {
      width:50%;
      padding-left:15px;
      padding-right:15px;
    }
  }
  @media screen and (max-width:579px) {
    .owl-item {
      width:100%;
    }
    .featured-media-box {
      max-width:360px;
      margin:0 auto;
    }
  }

  // Owl slider pagination dots
  .owl-pagination {
    text-align:center;
    line-height:16px;
    cursor:default;
    letter-spacing:-2px;
    padding-top:24px;
  }
  .owl-page {
    display:inline-block;
    vertical-align:top;
    width:20px;
    height:20px;
    opacity:.3;
    transition:opacity .2s;
    cursor:pointer;
  }
  .owl-page.active {
    opacity:1;
  }
  .owl-page span {
    width:8px;
    height:8px;
    background:#fff;
    display:block;
    border-radius:50%;
    margin:6px;
  }

  // Owl slider next/prev buttons
  .carousel-nav {
    width:40px;
    height:60px;
    background:rgba(0,0,0,.5);
    color:#fff;
    font-size:36px;
    line-height:40px;
    padding:10px 0;
    position:absolute;
    top:28%;
    opacity:.5;
    transition:opacity 220ms ease;
    z-index:70;

    &:hover {
      opacity:1;
    }
  }
  .carousel-prev {
    left:0;
    text-align:right;
    i {
      margin-right:15px;
    }
  }
  .carousel-next {
    right:0;
    text-align:left;
    i {
      margin-left:16px;
    }
  }

  @media screen and (max-width:$screen-xs-max) {
    .carousel-nav {
      display:none;
    }
  }

  .featured-video-container {
    background:transparent;
    padding-left:15px;
    padding-right:15px;
    position:relative;
  }
  &.embedded-video {
    .featured-video-container {
      box-shadow:0 1px 3px rgba(0,0,0,.25);
    }
  }
}