// Mobile navigation
@media screen and (max-width:$mobile-nav-breakpoint) {
  .nav-slide-element {
    transform:translate(0, 0);
  }
}

#mobile-nav-menu {
  position:fixed;
  top:0;
  left:100%;
  height:100%;
  width:$mobile-nav-width;
  z-index:5;
  background:$dark-gray;
  color:#fff;

  transition:all $mobile-nav-animation-speed $mobile-nav-animation-easing;
  transform:translate(0, 0);
  overflow:scroll;
  display:none;
  -webkit-backface-visibility:hidden;

  // inner shadow along the left side of the menu
  &:before {
    display:block;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width:12px;
    pointer-events:none;
    background:linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%);
    z-index:10;
  }

  .text-pad {
    padding:15px;
  }

  .main-menu {
    margin-bottom:24px;

    a {
      display:block;
      color:#fff;
      text-decoration:none;
      font-size:18px;
      line-height:20px;
      padding:14px 18px;
    }
    li {
      border-bottom:1px solid #444;
    }
  }

  .copyright, .links {
    font-size:12px;
    line-height:18px;
    color:rgba(255,255,255,.75);
    text-align:center;
    padding-left:15px;
    padding-right:15px;
    margin:0 0 12px;
  }
  .links a {
    color:rgba(255,255,255,.75);
    text-decoration:none;
  }

  .logomark {
    display:block;
    margin:0 auto;
    opacity:.2;
    width:80px;
  }
}

@media screen and (max-width:$mobile-nav-breakpoint) {
  #wraparound {
    width:100%;
    position:relative;
  }

  body.mobile-nav-visible {
    // don't let the body scroll while the menu is open
    overflow:hidden;

    #wraparound { height:100%; }

    // use transforms to move everything to the left
    .nav-slide-element {
      transform:translate(-$mobile-nav-width, 0);
    }
    #mobile-nav-menu {
      transform:translate(-$mobile-nav-width, 0);
      -webkit-overflow-scrolling:touch;
    }
  }

  #mobile-nav-menu { display:block; }

  .nav-slide-element {
    transition:all $mobile-nav-animation-speed $mobile-nav-animation-easing;
    -webkit-backface-visibility:hidden;
  }
}