/*========================
 Section sub-navigation below header
 =======================*/
.section-navigation, .nonstickSection {
  background:#fff;
  box-shadow:0 0 2px #C3BFB7;
  font-size:15px;
  line-height:20px;
  padding:20px 0 8px;
  text-align:center;
  border-bottom:1px solid #D3D1CB;
  width:100%;

  ul {
    margin:0;
  }
  li {
    display:inline-block;
    vertical-align:top;
    margin:0 12px 12px;
  }

  a {
    color:$dark-gray;
    text-decoration:none;
    &:hover { text-decoration:underline; }
  }
  .selected a {
    color:$dark-brown;
    font-weight:600;
  }

  &.affix {
    position:fixed;
    top:0;
    left:0;
    z-index:90;
  }


  @media screen and (min-width:$screen-sm-min) {
    ul {
      display:block;
    }
    .select {
      display:none;
    }
  }
  @media screen and (max-width:$screen-xs-max) {
    padding:14px 0;

    ul {
      //display:none;
    }
    .select {
      display:block;
    }
  }
}


 /* Sticky menu */
 .no-touch{
 .fixedsticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
  }
}
  /* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
  .no-touch.fixed-supported .fixedsticky-off {
    position: static;
  }
  .fixedsticky-withoutfixedfixed .fixedsticky-on,
  .no-touch.fixed-supported .fixedsticky-on {
    position: fixed;
  }
  .fixedsticky-dummy {
    display: none;
  }
  .fixedsticky-on + .fixedsticky-dummy {
    display: block;
  }

