// Sticky footer: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

body {
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

.sf-header {
  position:relative;
  z-index:$zindex-header;
}
.sf-content {
  flex:1;
  position:relative;
  z-index:$zindex-content;
}
.sf-footer {
  position:relative;
  z-index:$zindex-footer;
}