.news-grid {
  font-size:16px;
  line-height:28px;

  .email-subscribe-form {
    margin-top:18px;
  }

  .excerpt a {
    color:$medium-blue;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
  h5 a {
    color:$dark-gray;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
  p {
    margin:0;
  }
  .posted-on {
    font-size:14px;
    line-height:18px;
    font-weight:600;
    color:$light-body;
    font-weight:600;
    margin-top:6px;
  }

  // equal-width buttons using min-width in case Spanish labels are longer than English
  .news-action-links a {
    padding-left:0;
    padding-right:0;
    min-width:200px;
  }

  @media screen and (min-width:$screen-lg-min) {
    .news-blocks > div {
      margin-bottom:48px;
    }
    // clearing, plus extra gutter padding
    .news-blocks > div:nth-child(3n+1) {
      clear:both;
      padding-right:40px;
    }
    .news-blocks > div:nth-child(3n+2) {
      padding-left:28px;
      padding-right:28px;
    }
    .news-blocks > div:nth-child(3n+3) {
      padding-left:40px;
    }
  }
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-md-max) {
    .news-blocks > div {
      margin-bottom:36px;
    }
    // clearing, plus extra gutter padding
    .news-blocks > div:nth-child(2n+1) {
      clear:both;
      padding-right:30px;
    }
    .news-blocks > div:nth-child(2n+2) {
      padding-left:30px;
    }
  }

  @media screen and (max-width:$screen-xs-max) {
    .news-blocks > div {
      margin-bottom:36px;
    }
    .excerpt {
      font-size:14px;
      line-height:22px;
    }
    .news-action-links a {
      display:block;
      margin:0 auto 12px;
    }
  }
}