
{%- set parent = craft.entries.section('pages').slug(craft.app.request.getSegment(1)).one() -%}
{%- set children = entry.getDescendants(1) -%}

{% macro recursiveChildren(page) %}
  {% if page.hasDescendants and page.slug == craft.app.request.getSegment(page.level) %}
    <ul>
      {% for subpage in page.children %}
          <li{% if subpage.slug == craft.app.request.getSegment(subpage.level) %} class="selected"{% endif %}>
            {{ subpage.link }}
            {{ _self.recursiveChildren(subpage) }}
          </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
    

    <div class="page-content-container">
      <div class="container standard-container">
        
        <!-- Favorite themes:  excite-bike, humanity, pepper-grinder, cupertino -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css">
        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <style>
    .ui-widget{font-family: "Open Sans", "Helvetica", "Arial", sans-serif;font-size: 100%;}
    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        color: #4A4A4A;
		font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
		font-size: 16px;
		line-height: 22px;
		margin-top:5px;
		padding: 8px 8px;
		outline: none;
		font-weight: 200;
		resize: none;
    }
    .ui-widget-content{
      		 background:#ffffff !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 28px 20px
    }
    .ui-widget-content a{color:#6aa29d;}
    .ui-widget-content a:hover{text-decoration:underline;}
    .ui-widget-content a.btn:hover{text-decoration:none;}
    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#005F72}
    .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited{
    color:#895022
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#ffffff}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border: 1px solid #99BFBC;
    background: #99BFBC;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border: 1px solid #99BFBC;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)}
}
@media only screen and (max-width: 768px) {
  .ui-accordion .ui-accordion-content {padding:1em 25px}
}
@media screen and (max-width: 600px) { 
    .ui-accordion .ui-accordion-content {padding:1em 20px}
    .ui-accordion .ui-accordion-header{padding-right:0} 
}
    </style>
        
        {{ entry.body }}
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
<script>
$("#accordion").accordion({ header: "h1", collapsible: true, active: false, heightStyle: "content" });
$("#accordionOpen").accordion({ header: "h1", collapsible: false, active: false, heightStyle: "content" });
$("#accordion2").accordion({ header: "h3", collapsible: true, active: false, heightStyle: "content" });
$("#accordion2Open").accordion({ header: "h3", collapsible: true, active: false, heightStyle: "content" });
</script>