<div class="page-content-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      
      {{ entry.body }}
      
      <a name="eva"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <h3>{{ "Announcements"|t }}</h3>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 action-links" style="text-align:right">
        {% if craft.app.language == "en-US" %}
            <a style="display:inline-block" href="http://feeds.feedburner.com/StAnneAnnouncements" target="_blank"><i class="fa fa-rss"></i> {{ "Announcement Notifications"|t }}</a>
        {% elseif craft.app.language == "es-US" %}
            <a style="display:inline-block" href="http://feeds.feedburner.com/AnunciosParaStaAna" target="_blank"><i class="fa fa-rss"></i> {{ "Announcement Notifications"|t }}</a>
        {% endif %}
              
        <form style="display:inline-block" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.app.language == 'es-US' %}AnunciosParaStaAna{% else %}StAnneAnnouncements{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"> <input type="text" style="margin:0 10px 0 5px;vertical-align:middle;width:160px" name="email" placeholder="{{ "Enter your email"|t }}...." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.app.language == 'es-US' %}AnunciosParaStaAna{% else %}StAnneAnnouncements{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue" style="vertical-align:middle;"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></form>
              
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

    
{% paginate craft.entries.section('announcements').orderBy('postDate DESC').limit(28) as announcements %}
        


<div class="featured-media-grid clearfix">

    
  {% for post in announcements %}

      {% if post.customEventUrl.url is not empty %}
		  {% set announceLink = post.customEventUrl.url %}  
	  {% else %}
		  {% set announceLink = post.url %}  
	  {% endif %}
  

<div class="featured-media-box">   
    <div class="details">
        <h4 class='seth'><a href="{{ announceLink }}">{{ post.title }}</a></h4>
		<a href="{{ announceLink }}" style="cursor:pointer;cursor:hand"><img src="{{ post.eventListingImage.one().url }}" alt="" width="321" height="200" style="margin-bottom:20px" /></a>
		<div class="postBody" style="height:85px">{% if post.shortDescription.exists() %}{{ post.shortDescription|chop(limit=140, unit='c')}}{% else %}{{ post.body|chop(limit=140, unit='c')}}{% endif %}</div>
		<p class="more muted">
		    <a href="{{ announceLink }}" target='_blank'>{{ "Read More"|t }}</a>
		</p>
    </div>
</div>



  {% endfor %}
  
</div> <!-- .media-area -->
        
{% include "partials/_pagination" %}
        
        </div>
    </div> <!-- .row -->
        
        

      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
