<div class="page-content-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      
      {{ entry.body }}
      
      <a name="eva"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <h3>{{ "Events"|t }}</h3>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 action-links" style="text-align:right">
        {% if craft.app.language == "en-US" %}
            <a style="display:inline-block" href="http://feeds.feedburner.com/StAnneEvents" target="_blank"><i class="fa fa-rss"></i> {{ "Event Notifications"|t }}</a>
        {% elseif craft.app.language == "es-US" %}
            <a style="display:inline-block" href="http://feeds.feedburner.com/EventosStaAna" target="_blank"><i class="fa fa-rss"></i> {{ "Event Notifications"|t }}</a>
        {% endif %}
              
        <form style="display:inline-block" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.app.language == 'es-US' %}EventosStaAna{% else %}StAnneEvents{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"> <input type="text" style="margin:0 10px 0 5px;vertical-align:middle;width:160px" name="email" placeholder="{{ "Enter your email"|t }}...." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.app.language == 'es-US' %}EventosStaAna{% else %}StAnneEvents{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue" style="vertical-align:middle;"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></form>
              
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        {% paginate craft.entries.section('events').orderBy('eventDateTime ASC').limit(24) as entries %}
        
        {% include "events/_event-items" %}
        
        {% include "partials/_pagination" %}
        
        </div>
    </div> <!-- .row -->
        <br>
        {% if craft.app.language == 'es-US' %}
            <h3><a href="http://dphx.org/events/?lang=es" target="_blank">Haga clic aquí para eventos en la Diócesis de Phoenix</a></h3>
        {% else %}
            <h3><a href="http://dphx.org/events/" target="_blank">Click here to see more events around the Diocese of Phoenix</a></h3>
        {% endif %}


          </div>
        </div> <!-- .row -->
        
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
