
{% paginate craft.entries.section('holyDays').orderBy('title ASC').limit(2) as entries %} 
        
{% for post in entries %}
 
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if post.pageImage.exists() %}style=" background-image:url({{ post.pageImage.one().url }})" {% endif %}>
      <div class="overlay" style="background:none !important">
        <div class="container">
          <h1 class="caps-header">{{ post.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
      
        {{ post.bodyb }}
        
        {% import 'events/_event-time-variables2' as macros %}
        {% for entry in craft.entries.section('events').orderBy('eventStartDate ASC').limit('80').all() %}
            {% if (entry.eventStartDate|date('Ymd') >= now|date('Ymd')) and (entry.displayOnSeasonalPage | length) %}
             
                {% if entry.pageImage.exists() %}
	                <img src="{{ entry.pageImage.one().url }}" alt="{{ entry.title }}" width="100%" />
	            {% elseif entry.rotationImage.exists() %}
	                <img src="{{ entry.rotationImage.one().url }}" alt="{{ entry.title }}" width="100%" />
	            {% else %}
	                {% if entry.eventListingImage.exists() %}
	                    <img src="{{ entry.eventListingImage.one().url }}" alt="" width="321" height="200" />
	                {% endif %}
	            {% endif %}
	            
	            <h3>{{ entry.title }}, {{ macros.date_options(entry.afterMass, craft.app.language, entry.eventStartDate, entry.eventEndDate, entry.eventCustomDate, entry.tbdTba, entry.showDatesOnly)|replace(' &amp; ',' & ') }}</h3>
	            {% set curTimeVar = macros.time_options(entry.afterMass, craft.app.language, entry.eventStartDate, entry.eventEndDate, entry.eventCustomDate, entry.tbdTba, entry.showDatesOnly)|replace(' &amp; ',' & ')|replace('\n','')|replace('\t','')|replace('\s','')  %}
				<p><b>{% if (curTimeVar != '0') %}{{curTimeVar}}{% endif %}</b></p>
				{% if entry.useLongDescription|length  %}
				    <p>
				        {{ entry.body|raw }}
					</p>
				{% elseif entry.shortDescription|length  %}
					<p>{{ entry.shortDescription|raw }}</p>
				{% else %}
					{% if entry.body|length < 650 %}
						<p>{{ entry.body|raw }}</p>
					{% else %}
						<p>
							{{ entry.body|slice(0, 650)|striptags|raw }}...<a href="{{entry.url}}">Read More</a>
						</p>
					{% endif %}
				{% endif %}
				<p><br></p>
            
            
            {% endif %}
        {% endfor %}
      
        {{ post.body }}
        
        {{ post.scriptarea|raw }}
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->

{% endfor %}
