{% if craft.app.language == 'es-US' %}
    {% set latest = "/es/media/media-library" %}
    {% set theMass = "La Santa Misa" %}
{% else %}
    {% set latest = "/media/media-library" %}
    {% set theMass = "The Holy Mass" %}
{% endif %}
{% set topicTitle = "none" %}

{% set break = 0 %}
{% for item in craft.entries.section('media').orderBy('mediaDate DESC').all() if break == 0 %}
    {% set time = item.mediaDate|date('g:ia') %}
    {% set mediaTopics = item.mediaTopic %}
    {% for topic in mediaTopics.all() %}
        {% set topicTitle = topic.title %}
    {% endfor %}
    {% if entry.mediaTimeFilter in time and (topicTitle == entry.mediaTopicFilter or topicTitle == theMass) %}
        {% set break = 1 %}
        {% set latest = item.url %}
    {% endif %}
{% endfor %}

{% redirect latest %}
