
<style>
#confessionMsg p,#massMsg p,#sundayMassMsg p{margin:0;padding:0 0 20px}
#confessionMsg,#massMsg,#sundayMassMsg,.cancelledItem{font-weight:bold;color:#a00}
.standard-container ul li{margin-bottom: .5em}
.massConfessionPage p{margin-bottom:10px}
#topMessageArea,#saturdayMTA{display:none}
</style>
<script>var topMessageDateActive = false; var displaySaturdayMTA = false;</script>

  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="overlay">
        <div class="container">
          <h1 class="caps-header">{{ entry.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
        
{% paginate craft.entries.section('times').order('title ASC').limit(2) as entries %} 
        
{% for post in entries %}


       {% if craft.locale == 'es_us' %}
            {% set cancelledOn = "Canceladas el " %}
        {% else %}
            {% set cancelledOn = "Cancelled on " %}
        {% endif %}
        
<div class="massConfessionPage">
    <div id="topMessageArea">
{% if post.topOfPageMessage | length %}
        <p class="cancelledItem">{{ "There are changes to the Mass and Confession schedule.  Scroll down to see the changes."|t }}</p>
{% endif %}
    </div>     
        
{{ post.body }}
        
{%cache globally%}
{% if post.saturdayVigilMassTimes|length %}
    <p><strong>{{ "Saturday Vigil Mass"|t }}:</strong><br></p>
    <ul>
        {% for block in post.saturdayVigilMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if post.sundayMassTimes|length %}
    <p><strong>{{ "Sunday Mass"|t }}:</strong></p>
    <ul>
        {% for block in post.sundayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}   
    </ul>
{% endif %}
{% endcache %}

{{ post.bodyBetweenSundayAndWeekdayMass }}

{%cache globally%}
{% if post.weekdayMassTimes|length %}
    {% if post.weekdayMassTimes|length >= 6 %}
        <p><strong>{{ "Monday"|t }}:</strong></p>
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                {% if (block.dayOfWeek == 'Monday') or (block.dayOfWeek == 'Lunes') %}
                   <li>{{ block.hourName }} ({{ block.languageOfMass|capitalize }}){% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
                {% endif %}
            {% endfor %} 
        </ul>
        <p><strong>{{ "Tuesday"|t }}:</strong></p>
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                {% if (block.dayOfWeek == 'Tuesday') or (block.dayOfWeek == 'Martes') %}
                   <li>{{ block.hourName }} ({{ block.languageOfMass|capitalize }}){% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
                {% endif %}
            {% endfor %} 
        </ul>
        <p><strong>{{ "Wednesday"|t }}:</strong></p>
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                {% if (block.dayOfWeek == 'Wednesday') or (block.dayOfWeek == 'Miércoles') %}
                   <li>{{ block.hourName }} {% if block.languageOfMass != 'none' %}({{ block.languageOfMass|capitalize }}){% endif %}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
                {% endif %}
            {% endfor %} 
        </ul>
        <p><strong>{{ "Thursday"|t }}:</strong></p>
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                {% if (block.dayOfWeek == 'Thursday') or (block.dayOfWeek == 'Jueves') %}
                   <li>{{ block.hourName }} ({{ block.languageOfMass|capitalize }}){% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
                {% endif %}
            {% endfor %} 
        </ul>
        <p><strong>{{ "Friday"|t }}:</strong></p>
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                {% if (block.dayOfWeek == 'Friday') or (block.dayOfWeek == 'Viernes') %}
                   <li>{{ block.hourName }} ({{ block.languageOfMass|capitalize }}){% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
                {% endif %}
            {% endfor %} 
        </ul>
        <p id="saturdayMTA"><strong>{{ "Saturday"|t }}:</strong></p>
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                {% if (block.dayOfWeek == 'Saturday') or (block.dayOfWeek == 'Sábado') %}
                   <li>{{ block.hourName }} ({{ block.languageOfMass|capitalize }}){% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
                   <script>displaySaturdayMTA=true</script>
                {% endif %}
            {% endfor %} 
        </ul>
    {% else %}
        <ul>
            {% for block in post.weekdayMassTimes %}
                {% set cDate = block.dateCancelledOrChanged %}
                <li>{{ block.dayOfWeek|capitalize }}: {{ block.hourName }} ({{ block.languageOfMass|capitalize }}){% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
            {% endfor %} 
        </ul>
    {% endif %}
{% endif %}
{% endcache %}

{{ post.bodyBetweenWeekdayMassAndConfessions }}

{%cache globally%}
{% if post.confessionTimes|length %}
    <ul>
        {% for block in post.confessionTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.dayAndTimes }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endcache %}

{{ post.bodyBetweenConfessionsAndHolyHour }}

{%cache globally%}
  {% if post.parishHolyHour|length %}
    <ul>
        {% for block in post.parishHolyHour %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endcache %}

{{ post.bodyBelowEverything }}


</div>



{% endfor %}
        
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
<script>
if (topMessageDateActive == true) {
    document.getElementById('topMessageArea').style.display='block';
}
if (displaySaturdayMTA == true) {
    document.getElementById('saturdayMTA').style.display='block';
}
</script>