  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">

    <div class="page-content-container">
      <div class="container standard-container">

        <div class="section-title">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <h3>{{ entry.title }}</h3>
              <h3 class="small">{{ "Find and filter posts below"|t }}</h3>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 action-links">
             
            </div>
          </div>
        </div>

        {% include "partials/filters/_news-updates-filters" %}
        
        {% if craft.app.request.getParam('q') %}
          {% include "news/_filtered" %}
        {% else %}
          {% include "news/_landing" %}
        {% endif %} 
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->