  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="overlay" style="background:none !important">
        <div class="container">
          <h1 class="caps-header"> </h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
      
      {% set wordoftheday = entry.password  %}
      {% if craft.app.request.getParam('password') == wordoftheday %}

          {{ entry.body }}
        
      {% else %}
      
          {{ entry.bodyb }}
          
          <form action="{{ craft.app.request.absoluteUrl() }}" method="POST" accept-charset="utf-8" class="form-inline">
          {{ csrfInput() }}
          <input type="password" name="password" value="">
          <button type="submit">Submit</button>
          </form>
      {% endif %}
      
      {{ entry.scriptarea|raw }}
        
        
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  