<div class="page-content-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      
      <h3>{{ entry.title }}</h3>
                
      {{ entry.body }}


        <div class="featured-media-grid clearfix">
        {% if entry.feedUrl is not empty %}
          {% set feedurl = entry.feedUrl|raw %}
          {% set limit = 30 %}
          {% set cache = "P0M" %}
          {% set items = craft.feeds.getFeedItems(feedurl, limit, 0, cache) %}
          {% for item in items %}
            <div class="featured-media-box">
                {# <div class="image-wrap">
                  <img src="assets/feature-st-james.jpg" alt="" />
                </div> #}
                <div class="details">
                  <h4 class='seth'><a href="{{ item.permalink }}" target="_blank">{{ item.title }}</a></h4>
                  <div>{{ item.summary }}</div>
                  <p class="more muted">
                    <a href="{{ item.permalink }}" target="_blank">Read More</a>
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div> <!-- .row -->


          </div> <!-- .col -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->