  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="overlay">
        <div class="container">
          <h1 class="caps-header">{{ entry.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
        
        {{ entry.body }}
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
  {{ entry.scriptarea|raw }}