<div class="page-content-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      
      {{ entry.body }}
      
      <a name="eva"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <h3>{{ "Events"|t }}</h3>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 action-links" style="text-align:right">
        {% if craft.locale == "en_us" %}
          {% if feeds.eventsFeedUrl is not empty %}
            <a style="display:inline-block" href="{{ feeds.eventsFeedUrl.url }}" target="_blank"><i class="fa fa-rss"></i> {{ "Events RSS"|t }}</a>
          {% endif %}
        {% elseif craft.locale == "es_us" %}
          {% if feeds.eventsFeedUrlSpanish is not empty %}
            <a style="display:inline-block" href="{{ feeds.eventsFeedUrlSpanish.url }}" target="_blank"><i class="fa fa-rss"></i> {{ "Eventos RSS"|t }}</a>
          {% endif %}
        {% endif %}
              
        <form style="display:inline-block" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.locale == 'es_us' %}EventosStaAna{% else %}StAnneEvents{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"> <input type="text" style="margin:0 10px 0 5px;vertical-align:middle;width:160px" name="email" placeholder="{{ "Enter your email"|t }}...." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.locale == 'es_us' %}EventosStaAna{% else %}StAnneEvents{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue" style="vertical-align:middle;"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></form>
              
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        <div class="featured-media-grid clearfix">
          {% set feedurl = entry.eventFeedUrl %}
          {% set limit = 40 %}
          {% set cache = "P0M" %}
          {% cache globally for 1 hour %}
          {% set items = craft.feeds.getFeedItems(feedurl, limit,0, cache) %}
          {% for item in items|reverse %}
            <div class="featured-media-box">
              {# <div class="image-wrap">
                <img src="assets/feature-st-james.jpg" alt="" />
              </div> #}
              <div class="details">
                <h4 class='seth'><a href="{{ item.permalink }}" target='_blank'>{{ item.title }}</a></h4>
                <div>{{ item.summary}}</div>
                <p class="more muted">
                  
                  {% if craft.locale == 'es_us' %}
                    {{ item.date|date('d F, Y') }}
                  {% else %}
                    {{ item.date|date('F d, Y') }}
                  {% endif %}
                  <span class="dot">&middot;</span>
                  {{ item.date|date('g:ia') }}
                  <span class="dot">&middot;</span>
                  <a href="{{ item.permalink }}" target='_blank'>{{ "Read More"|t }}</a>
                </p>
              </div>
            </div>
          {% endfor %}
          {% endcache %}
          
        </div> <!-- .row -->

          </div>
        </div> <!-- .row -->
        
        {% if craft.locale == 'es_us' %}
            <h3>Eventos en la Diócesis de Phoenix (<a href="http://dphx.org/events/?lang=es" target="_blank">dphx.org/events/?lang=es</a>)</h3>
        {% else %}
            <h3>Events from the Diocese of Phoenix (<a href="http://dphx.org/events/" target="_blank">dphx.org/events</a>)</h3>
        {% endif %}
        <div class="row">
        <div class="col-lg-12">

        <div class="featured-media-grid clearfix">
          {% if craft.locale == 'es_us' %}
              {% set dphxFeed = "http://dphx.org/events/feed/?lang=es" %}
          {% else %}
              {% set dphxFeed = "http://dphx.org/events/feed/" %}
          {% endif %}
          {% set limit = 40 %}
          {% set cache = "P0M" %}
          {% cache globally for 1 hour %}
          {% set phxitems = craft.feeds.getFeedItems(dphxFeed, limit,0, cache) %}
          {% for phxitem in phxitems|reverse %}
            <div class="featured-media-box">
              <div class="details">
                <h4 class='seth'><a href="{{ phxitem.permalink }}" target='_blank'>{{ phxitem.title }}</a></h4>
                <div>
                  <a href="{{ phxitem.permalink }}" target='_blank'><img src="http://assets.stanneaz.org/craft/cityImages/logos/dphxLogo.jpg" alt="Diocese of Phoenix Event" width="321" height="200" style="margin-bottom:20px" /></a>
                  {{ phxitem.summary}}
                </div>
                <p class="more muted">
                  
                  {% if craft.locale == 'es_us' %}
                    {{ phxitem.date|date('d F, Y') }}
                  {% else %}
                    {{ phxitem.date|date('F d, Y') }}
                  {% endif %}
                  <span class="dot">&middot;</span>
                  {{ phxitem.date|date('g:ia') }}
                  <span class="dot">&middot;</span>
                  <a href="{{ phxitem.permalink }}" target='_blank'>{{ "Read More"|t }}</a>
                </p>
              </div>
            </div>
          {% endfor %}
          {% endcache %}
          
        </div> <!-- .row -->


          </div>
        </div> <!-- .row -->
        
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->