
<style>
#confessionMsg p,#massMsg p,#sundayMassMsg p{margin:0;padding:0 0 20px}
#confessionMsg,#massMsg,#sundayMassMsg,.cancelledItem{font-weight:bold;color:#a00}
.standard-container ul li{margin-bottom: .5em}
.massConfessionPage p{margin-bottom:10px}
#topMessageArea{display:none}
</style>
<script>var topMessageDateActive = false;</script>

  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="overlay">
        <div class="container">
          <h1 class="caps-header">{{ entry.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
        
{% paginate craft.entries.section('times').order('title ASC').limit(2) as entries %} 
        
{% for post in entries %}


       {% if craft.locale == 'es_us' %}
            {% set cancelledOn = "Canceladas el " %}
        {% else %}
            {% set cancelledOn = "Cancelled on " %}
        {% endif %}
        
<div class="massConfessionPage">
    <div id="topMessageArea">
{% if post.topOfPageMessage | length %}
        <p class="cancelledItem">{{ "There are changes to the Mass and Confession schedule.  Scroll down to see the changes."|t }}</p>
{% endif %}
    </div>     
        
{{ post.body }}
        
{%cache globally%}
{% if post.saturdayVigilMassTimes|length %}
    <p><strong>{{ "Saturday Vigil Mass"|t }}:</strong><br></p>
    <ul>
        {% for block in post.saturdayVigilMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if post.sundayMassTimes|length %}
    <p><strong>{{ "Sunday Mass"|t }}:</strong></p>
    <ul>
        {% for block in post.sundayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}   
    </ul>
{% endif %}
{% endcache %}

{{ post.bodyBetweenSundayAndWeekdayMass }}

{%cache globally%}
{% if post.mondayMassTimes|length %}
    <p><strong>{{ "Monday"|t }}:</strong></p>
    <ul>
        {% for block in post.mondayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})<script>topMessageDateActive=true</script></span>{% endif %}{% endif %}</li>
        {% endfor %} 
    </ul>
{% endif %}
{% if post.tuesdayMassTimes|length %}
    <p><strong>{{ "Tuesday"|t }}:</strong></p>
    <ul>
        {% for block in post.tuesdayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if post.wednesdayMassTimes|length %} 
    <p><strong>{{ "Wednesday"|t }}:</strong></p>
    <ul>
        {% for block in post.wednesdayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %} 
    </ul>
{% endif %}
{% if post.thursdayMassTimes|length %}
    <p><strong>{{ "Thursday"|t }}:</strong></p>
    <ul>
        {% for block in post.thursdayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %} 
    </ul>
{% endif %}
{% if post.fridayMassTimes|length %}
    <p><strong>{{ "Friday"|t }}:</strong>&nbsp;<br></p>
    <ul>
        {% for block in post.fridayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if post.saturdayMassTimes|length %}
    <p><strong>{{ "Saturday"|t }}:</strong>&nbsp;</p>
    <ul>
        {% for block in post.saturdayMassTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endcache %}

{{ post.bodyBetweenWeekdayMassAndConfessions }}

{% if cMsg|length %}
    <div id="confessionMsg">{{ cMsg }}<br><br></div>
{% endif %}
{%cache globally%}
{% if post.confessionTimes|length %}
    <ul>
        {% for block in post.confessionTimes %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.dayAndTimes }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endcache %}

{{ post.bodyBetweenConfessionsAndHolyHour }}

{%cache globally%}
  {% if post.parishHolyHour|length %}
    <ul>
        {% for block in post.parishHolyHour %}
            {% set cDate = block.dateCancelledOrChanged %}
            <li>{{ block.hourName }}{% if cDate|length %}{% if cDate|date('Ymd') >= now|date('Ymd') %} <span class="cancelledItem">({% if block.customMessage|length %}{{ block.customMessage }}{% else %}{{cancelledOn}} {% if craft.locale == 'es_us' %}{{ cDate|date('d \\d\\e F, Y') }}{% else %}{{ cDate|date('F d, Y') }}{% endif %}{% endif %})</span><script>topMessageDateActive=true</script>{% endif %}{% endif %}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endcache %}

{{ post.bodyBelowEverything }}


</div>



{% endfor %}
        
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
<script>
if (topMessageDateActive == true) {
    document.getElementById('topMessageArea').style.display='block';
}
</script>