  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">

    <div class="page-content-container">
      <div class="container standard-container">

        <div class="section-title">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <h3>{{ entry.title }}</h3>
              <h3 class="small">{{ "Find and filter posts below"|t }}</h3>
              <div class='addthis_native_toolbox' data-url="{{ entry.url }}" data-title="{{ entry.title }}">
                <a class='addthis_button_facebook_like' fb:like:layout="button_count"></a>
                <a class='addthis_button_tweet'></a>
                <a class='addthis_button_compact'></a>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 action-links">
              {{"Subscribe with"|t}}:
              {% if craft.locale == "en_us" %}
                {% if feeds.rssFeedUrl is not empty %}
                  <a href="{{ feeds.rssFeedUrl.url }}"><i class="fa fa-rss"></i> RSS Feed</a>
                {% endif %}
                {% if feeds.podcastSubscribeEmailLink is not empty %}
                  <a href="{{ feeds.podcastSubscribeEmailLink.url }}"><i class="fa fa-envelope"></i> Email</a>
                {% endif %}
              {% elseif craft.locale == "es_us" %}
                {% if feeds.rssFeedUrlSpanish is not empty %}
                  <a href="{{ feeds.rssFeedUrlSpanish.url }}"><i class="fa fa-rss"></i> {{ "RSS Feed"|t }}</a>
                {% endif %}
                {% if feeds.podcastSubscribeEmailLinkSpanish is not empty %}
                  <a href="{{ feeds.podcastSubscribeEmailLinkSpanish.url }}"><i class="fa fa-envelope"></i> {{ "Email"|t }}</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>

        {% include "partials/filters/_news-updates-filters" %}
        
        {% if craft.request.getParam('q') %}
          {% include "news/_filtered" %}
        {% else %}
          {% include "news/_landing" %}
        {% endif %} 
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->