
{%- set parent = craft.entries.section('pages').slug(craft.request.getSegment(1)).first() -%}
{%- set children = entry.getDescendants(1) -%}

{% macro recursiveChildren(page) %}
  {% if page.hasDescendants and page.slug == craft.request.getSegment(page.level) %}
    <ul>
      {% for subpage in page.children %}
          <li{% if subpage.slug == craft.request.getSegment(subpage.level) %} class="selected"{% endif %}>
            {{ subpage.link }}
            {{ _self.recursiveChildren(subpage) }}
          </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="overlay">
        <div class="container">
          <h1 class="caps-header">{{ entry.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
        
        {% if craft.locale == 'es_us' %}
            {% set cMsg = scheduleChanges.confessionScheduleChangeMessageSpanish %}
            {% set mMsg = scheduleChanges.massScheduleChangeMessageSpanish %}
        {% else %}
            {% set cMsg = scheduleChanges.confessionScheduleChangeEnglish %}
            {% set mMsg = scheduleChanges.massScheduleChangeEnglish %}
        {% endif %}
        
        {% set showCMMsg = 'false' %}
        {% set displayConfMsg = 'false' %}
        {% set displayMassMsg = 'false' %}
        {% if ((cMsg) or (mMsg)) and (entry.slug == 'times-location') %}
            {% set showCMMsg = 'true' %}
            {% if (cMsg) %}
                {% set displayConfMsg = 'true' %}
            {% endif %}
            {% if (mMsg) %}
                {% set displayMassMsg = 'true' %}
            {% endif %}
        {% endif %}
        
          {% if (showCMMsg == 'true') %}
            <h3>{{ "Schedule Change Messages"|t }}</h3>
            <div style="padding-bottom:20px">
            {% if (displayConfMsg == 'true') %}
              <div id="scheduleMessage">{{ cMsg }}</div>
            {% endif %}
            {% if (displayMassMsg == 'true') %}
              <div id="massScheduleMessage">{{ mMsg }}</div>
            {% endif %}
            </div>
          {% endif %}
          
        
        {{ entry.body }}
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
{% if (showCMMsg == 'true') %}
  <script>
  {% if (displayConfMsg == 'true') %}
    if (document.getElementById("confessionMsg") && document.getElementById("scheduleMessage")) {
        document.getElementById("confessionMsg").innerHTML = document.getElementById("scheduleMessage").innerHTML;
    }
  {% endif %}
  {% if (displayMassMsg == 'true') %}
    if (document.getElementById("massMsg") && document.getElementById("massScheduleMessage")) {
        document.getElementById("massMsg").innerHTML = document.getElementById("massScheduleMessage").innerHTML;
}
  {% endif %}
</script>
{% endif %}