@import "wtf-forms";

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;

  border:1px solid $input-border;
  box-shadow:none;
  border-radius:0;
  font-size:18px;
  color:$dark-gray;
  font-size:16px;
  line-height:22px;
  padding:9px 12px;
  outline:none;
  font-weight:200;
  @include placeholder(#777);
  resize:none;

  &:focus {
    border-color:$input-border-focus;
  }
}
textarea {
  padding:12px;
}

// Input and group containsrs
.form-group {
  margin-bottom:24px;
}
.form-row {
  margin-bottom:8px;
}

// Input sizing
.input-full-width {
  width:100%;
  margin:0;
}
.half-inputs {
  @media screen and (max-width:499px) {
    > div:not(:last-child) {
      margin-bottom:8px;
    }
  }
  @media screen and (min-width:500px) {
    @include clearfix();

    > div {
      width:49%;
      float:left;
      &:first-child {
        margin-right:2%;
      }
    }
  }
}

// Adjust spacing of form headers
form h4, form h5, form h6 {
  margin-bottom:10px;
}

// errors
.form-row.form-error {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  textarea {
    border-color:lighten($red, 20%);
  }
}
.field-error {
  font-size:14px;
  line-height:18px;
  display:block;
  color:$red;
  padding-top:2px;
  margin-bottom:6px;
}


/*========================
 Specialized forms
 =======================*/

.search-input-wrap {
  position:relative;

  .fa-search {
    position:absolute;
    top:50%;
    left:14px;
    width:18px;
    height:18px;
    margin-top:-9px;
    color:$input-border;
    z-index:35;
  }
  input[type="text"] {
    width:100%;
    padding-left:42px;
  }

  &.jumbo {
    .fa-search {
      font-size:28px;
      line-height:30px;
      width:30px;
      height:30px;
      color:$dark-gray;
      left:auto;
      right:18px;
      margin-top:-15px;
    }
    input[type="text"] {
      width:100%;
      padding-left:18px;
      padding-right:60px;
      font-size:28px;
      line-height:38px;
      padding:11px 60px 11px 18px;
    }
    @media screen and (max-width:$screen-xs) {
      .fa-search {
        font-size:24px;
        right:8px;
      }
      input[type="text"] {
        font-size:18px;
        line-height:26px;
        padding:12px 54px 12px 12px;
      }
    }
  }
}

.email-subscribe-form {
  border-bottom:2px solid $light-body;
  padding-bottom:12px;

  .input-container {
    // use flexbox to make text input fill all space after before submit button
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

  input[type="email"],
  input[type="text"] {
    background:none;
    border:none;
    padding:3px 0;
    outline:none;
    display:block;
    flex:1;
    margin-right:8px;

    @media screen and (max-width:$screen-xs) {
      font-size:14px;
    }
  }
  button[type="submit"] {
    display:block;
    float:right;
    margin:0;
  }
}

// Set select box spacing in a row of select boxes for content filtering
.content-filters {
  .select {
    margin:0 2px 6px 0;
  }
}