{% import "_helpers" as helpers %} 
<!DOCTYPE HTML>
<html class="no-js"{% if craft.locale == 'es_us' %} lang="es"{% else %} lang="en"{% endif %}>
<head>
  {% include "partials/_head" %}
  {% block pagetype %}{% endblock %}
</head>

<body>

  <div id="wraparound">
    {% include "partials/_mobile-nav" %}
    {% include "partials/_nav" %}
    {% block content %}{% endblock %}
    {% include "partials/_footer" %}
  </div>

  {% include "partials/_scripts" %}
  {% block scripts %}
  {% endblock %}
  
</body>

</html>
