{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block pagetype %}{% endblock %}

{% block content %} 
 <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">
    <div class="page-content-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            

            <div class="row">
              <div class="col-md-8 col-sm-7">
                <h3>{{ entry.title }}</h3>
                <p class="published">
              
{% set displayEDate = '' %}
{% set displayETime = '' %}
{% set displayDT = '' %}
{% if craft.app.language == 'es-US' %}
    {% set timeSeparator = ' a ' %}
{% else %}
    {% set timeSeparator = ' - ' %}
{% endif %}
                
{% if entry.hideDateAndTime | length %}  
                  
{% else %}
    {% if craft.app.language == 'es-US' %}
        {% set displayEDate = entry.eventStartDate|date('l, d \\d\\e F \\d\\e Y') %}
    {% else %}
        {% set displayEDate = entry.eventStartDate|date('l, F d, Y') %}          
    {% endif %}
    
    {% if entry.eventStartDate|date('F d, Y') == entry.eventEndDate|date('F d, Y') %}
        {% if entry.eventStartDate|date('a') == entry.eventEndDate|date('a') %}
		    {% set displayETime = entry.eventStartDate|date('g:i') ~ timeSeparator ~ entry.eventEndDate|date('g:i a') %} 
        {% else %}
		    {% set displayETime = entry.eventStartDate|date('g:i a') ~ timeSeparator ~ entry.eventEndDate|date('g:i a') %}
        {% endif %}  
    {% elseif (entry.eventEndDate is not empty) and (eventEndDate|date('g:i') != '12:00') %}
        {% if entry.showDatesOnly | length %}
            {% if craft.app.language == 'es-US' %}
                {% set displayEDate = entry.eventStartDate|date('\\D\\e \\l\\a\\s d \\d\\e F') ~ " del " ~  entry.eventEndDate|date('d \\d\\e F, Y') %}
            {% else %}
                {% set displayEDate = entry.eventStartDate|date('l, F d') ~ " to " ~  entry.eventEndDate|date('l, F d, Y') %}         
            {% endif %}
		    	  
		{% else %}
		    {% if craft.app.language == 'es-US' %}
                {% set displayEDate = entry.eventStartDate|date('\\D\\e \\l\\a\\s d \\d\\e F, Y, g:i a') ~ " del " ~  entry.eventEndDate|date('d \\d\\e F, Y, g:i a') %}
            {% else %}
                {% set displayEDate = entry.eventStartDate|date('F d, Y g:i a') ~ " to " ~  entry.eventEndDate|date('F d, Y, g:i a') %}       
            {% endif %}
			 
		{% endif %}             
    {% else %}
        {% if craft.app.language == 'es-US' %}
            {% set displayETime = entry.eventStartDate|date('\\a \\l\\a\\s g:i a') %} 
        {% else %}
            {% set displayETime = entry.eventStartDate|date('\\a\\t g:i a') %}           
        {% endif %}          
    {% endif %}
    
			     
    <div style="font-size:28px">
        {{ displayEDate }}
        {% if entry.showDatesOnly | length %}
        {% else %}
            <br>{{ displayETime }}
        {% endif %}
    </div>
    
{% endif %} 






                </p>

                <div class="blog-post standard-container">
                  
                  {{ entry.body }}
                  
                  
                  <style>
                  .map-container{margin:40px 0;display:table;font-size:18px;text-align:center}
                  .map-row{display:table-row}
                  .map-col{display:table-cell; padding:0 20px 0 0; text-align:left; vertical-align:top;}
                  @media screen and (max-width: 510px) { 
                      .map-container, .map-row ,.map-col{display:block}
                      .map-col{padding:0 0 20px}
                  }
                  </style>
                  <div class="map-container">
                    <div class="map-row">
                      <div class="map-col">
                        <h6>{{ "Event Location:"|t }}</h6>  
                {% if entry.eventStreetAddress|length %}
                        <a href="https://www.google.com/maps/place/{{ entry.eventStreetAddress|url_encode|replace({'%20': '+'}) }}+{{ entry.city|url_encode|replace({'%20': '+'}) }}+{{ entry.state|url_encode|replace({'%20': '+'}) }}+{{ entry.zipCode }}" target="_blank">{{ entry.locationName }}<br/>
                  {{ entry.eventStreetAddress }}<br/>
                  {{ entry.city }}, {{ entry.state }}  {{ entry.zipCode }}</a>
                {% else %}
                        <a href="https://www.google.com/maps/place/440+E+Elliot+Rd,+Gilbert,+AZ+85234/@33.351169,-111.7822207,17z/data=!3m1!4b1!4m5!3m4!1s0x872ba93f28ba0e83:0x98949b9d24239822!8m2!3d33.351169!4d-111.780032" target="_blank">{{ "St. Anne Roman Catholic Parish"|t }}<br/>
                  440 E. Elliot Rd<br/>
                  Gilbert, AZ  85234</a>
                {% endif %}
                      </div>
                      <div class="map-col">
                        <a href="https://www.google.com/maps/place/{% if entry.eventStreetAddress|length %}{{ entry.eventStreetAddress|url_encode|replace({'%20': '+'}) }}+{{ entry.city|url_encode|replace({'%20': '+'}) }}+{{ entry.state|url_encode|replace({'%20': '+'}) }}+{{ entry.zipCode }}{% else %}440+E+Elliot+Rd,+Gilbert,+AZ+85234/@33.351169,-111.7822207,17z/data=!3m1!4b1!4m5!3m4!1s0x872ba93f28ba0e83:0x98949b9d24239822!8m2!3d33.351169!4d-111.780032{% endif %}" target="_blank"> <img src="https://stanneaz.org/img/general/events/Maps-Gps.png" alt="Map It!" /></a>
                
                      </div><!--end .map-col-->
                    </div><!--end .map-row-->
                  </div><!--end .map-container-->
                  
                  
                  
                </div>
              </div>

              <div class="col-md-4 col-sm-5 blog-sidebar">
              
              {% if entry.eventListingImage|length %}
                <div class="featured-image-container">
                  <img src="{{ entry.eventListingImage[0].url }}" alt="" />
                </div>
              {% endif %}
              
                <div style="margin:20px 0 40px"><a href="{{ siteUrl }}connect/{% if craft.app.language == 'es-US' %}eventos{% else %}events{% endif %}">{{ "View more events"|t }} &rsaquo;</a>
                </div>
                
                <hr>
                
                {% if siteWideSocialLinks.socialLinks|length %}
                  <h6>{{ "Connect with us"|t }}</h6>
                  <ul class="social-circles">
                    {% for service in siteWideSocialLinks.socialLinks.all() %}
                      {% set link = service.serviceUrl %}
                        <li>
                          <a href="{{ link.url }}" class="bg-{{ service.service }}">
                            <i class='fa fa-{{ service.service }}'></i>
                          </a>
                        </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                <hr>
                
                <h6>{{ "Subscribe"|t }}</h6>
                <p>{{ "Get the latest news and updates from St. Anne in your RSS feed or email inbox"|t }}!</p>
                {% if craft.app.language == 'es-US' %}
                
                    <a href="http://feeds.feedburner.com/AnunciosParaStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Announcements RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/EventosStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Events RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/CalendarioDeStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Parish Calendar RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/AudiosdeParroquiaStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{ "Podcasts RSS"|t }}</a>
                    
                {% else %}
                
                    <a href="http://feeds.feedburner.com/StAnneAnnouncements" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Announcements RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/StAnneEvents" class="btn btn-light-brown-border"><i class="fa fa-rss" target="_blank"></i> {{"Events RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/StAnneRomanCatholicParishCalendar" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Parish Calendar RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/stannecatholicpodcast" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{ "Podcasts RSS"|t }}</a>
                
                {% endif %}
                
                

              </div> <!-- .col -->
            </div> <!-- .row -->
          </div> <!-- .col -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
  {{ entry.scriptarea|raw }}
  
{% endblock %}