/*========================
 Three large block links
 =======================*/
.giant-block-links {
  // with 33.333333% links, sometimes all 3 blocks don't cover 100% of the width and a white background is visible.
  // use a gradient with color stops to set left & right background colors.
  background:linear-gradient(to right, $dark-brown 0%, $dark-brown 50%, $dark-blue 51%, $dark-blue 100%);

  a {
    display:block;
    color:#fff;
    text-decoration:none;
    text-align:center;
  }
  i {
    margin-right:3px;
  }

  .bg-dark-brown {
    background:$dark-brown;
    &:hover { background:$dark-brown-hover; }
  }
  .bg-light-blue {
    background:$light-blue;
    &:hover { background:$light-blue-hover; }
  }
  .bg-dark-blue {
    background:$dark-blue;
    &:hover { background:$dark-blue-hover; }
  }

  @media screen and (min-width:1147px) {
    a {
      font-size:24px;
      line-height:30px;
      padding:25px 0;
      float:left;
      width:33.333333333%;
    }
  }
  
  // @media screen and (min-width:700px) and (max-width:799px) {
  //   a {
  //     font-size:20px;
  //     line-height:26px;
  //     padding:20px 0;
  //     float:left;
  //     width:33.333333333%;
  //   }
  // }
  @media screen and (max-width:1146px) {
    // use flexbox to force equal height on all 3 links
    display:flex;
    flex-direction:row;
    align-items:stretch;

    a {
      padding:20px 12px;
      // float:left;
      width:33.333333333%;
      font-size:16px;
      line-height:20px;
    }

    i {
      display:block;
      margin:0 auto 6px;
      font-size:24px;
      line-height:28px;
    }
  }
}