{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "layouts/_layout" %}
{% set title = "404" %}

{% block content %}
<div class="page-content-container">
    <div class="container standard-container">
	    <h1>404: Page not found</h1>

	    <h3>Ahhhhhhhhhhhhhh!  This page doesn't exist.</h3>
	    
	    <p>Not to worry.  You can either head back to <a href="/">our homepage</a>, or sit there and listen to a goat scream like a human.</p>
	    
	    <p>
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/nlYlNF30bVg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	    </p>
	    
	    <p><br></p>
	    <p><em>This 404 page idea is from <a href="https://bluegg.co.uk/404" target="_blank">Bluegg</a>.</em></p>
	</div>
</div>
{% endblock %}
