{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block content %}
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">    
    {% if craft.lj_cookies.get('visited') %}
      <div class="featured-content-hero nopad" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
        {# <div class="container">
          <h2 class="caps-header">{{ "Featured at"|t }} <br>St. Anne</h2>
        </div> #}
        <div class=''>
         <div class="featured-items">
            <div id="featured-content-slider" class=''>
              {% if entry.featuredAtStAnne | length %}
              {% set thumb = {
                mode: 'crop',
                width: 2000,
                height: 690,
                quality: 75,
                position: 'top-center'
            } %}
                {% cache globally %}
                <ul class='bxslider'>
                {% for item in entry.featuredAtStAnne %}
                  {% set link = item.contentLink %}
                    <li>
                      {% if item.vimeoVideoId != 0 %}
                        <iframe src="//player.vimeo.com/video/{{ item.vimeoVideoId }}?api=1&amp;autoplay=false" width=""  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      {% else %}
                        {% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{% endif %}<img src="{{ item.eventImage[0].getUrl(thumb) }}" />
                         {% if item.contentLink is not empty %} </a>{% endif %}
                      {% endif %}
                      {# <div class="caption">
                        <h3>{% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</h3>
                        <p>{{ item.description|trimit('170') }}</p>
                      </div> #}
                    </li>
                {% endfor %}
                </ul>
                {% endcache %}
              

              <div id="bx-pager">
                {% set thumb2 = {
                    mode: 'crop',
                    width: 80,
                    height: 80,
                    quality: 75,
                    position: 'top-center'
                } %}
              {% for item in entry.featuredAtStAnne %}
                <a data-slide-index="{{ loop.index - 1 }}" href=""><img src="{{ item.eventImage[0].getUrl(thumb2) }}" /></a>
              {% endfor %}
              </div>
            {% endif %}
            </div> <!-- #featured-content-slider -->
            <span id="responsiveFlag"></span>
          </div>
        </div> <!-- .featured-items -->
      </div> <!-- .block-featured-content -->
    {% else %}
      <div class="welcome-hero" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="container">
        <div class="text-pad">

          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
              <div class="featured-video-container">
                <div class="video-holder"></div>

                <div class="video-placeholder">
                  <div class="video-actions">
                    {% if entry.vimeoVideoId != 0 %}
                      {% set min = 0 %}
                      {% set sec = 0 %}
                       {% if entry.vimeoTimecode|length %}
                            {% set min = entry.vimeoTimecode[0].minutes %}
                            {% set sec = entry.vimeoTimecode[0].seconds %}
                       {% endif %}
                      {% set video = helpers.vimeo_video(entry.vimeoVideoId,entry.autoplay,min,sec) %}
                      <div data-video='embed' class="action-icon">
                        <i class="fa fa-play"></i>
                      </div>
                       <script type='text/template' id='video-embed'>{{ video }}</script>
                    {% endif %}
                  </div>

                  <!-- invisible (0 opacity) image to keep the aspect ratio -->
                  {% if entry.placeholderImage|length %}
                    <img src="{{ entry.placeholderImage[0].getUrl() }}" alt="" width='780' height='438' />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="welcome-text">
            <h1>{{ entry.heading }}</h1>
            <h2>{{ entry.subHeading }}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="giant-block-links clearfix">
      {% if entry.quicklinks|length %}
        {% set qlinks = entry.quicklinks  %}
        {% for item in qlinks %}
          {% set link = item.qlink %}
          {% if loop.index == 1 %}
            <a href="{{ link.url }}" class="bg-dark-brown"><i class="fa fa-clock-o"></i> {{ link.linkText }}</a>
          {% elseif loop.index == 2 %}
            <a href="{{ link.url }}" class="bg-light-blue"><i class="fa fa-bullseye"></i> {{ link.linkText }}</a>
          {% else %}
            <a href="{{ link.url }}" class="bg-dark-blue"><i class="fa fa-envelope"></i> {{ link.linkText }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="page-content-container">
      <div class="container news-grid">
      <h4 class="caps-header text-center"><a href="{{ siteUrl }}connect/news-updates">{{ "Announcements"|t }}</a></h4>

      <hr class="short-divider centered">

      <div class="row news-blocks">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
<style>
#countTimer .countInner .ctWrap{float: left;height: 32px;}
#countTimer .countInner .ctWrap .ctInner{padding: 0 16px 0 0;min-width: 40px;}
#countTimer .ctWrap span{color: #333333;font-size: 12px;display: inline-block;text-transform: uppercase;font-weight: bold}
#countTimer .ctWrap span.time-end{font-size: 14px;font-weight:normal;text-transform: none;}
#countTimer .ctWrap span.ctDay, #countTimer .ctWrap span.ctHour, #countTimer .ctWrap span.ctMin, #countTimer .ctWrap span.ctSec{ font-size: 22px;color: #895022;margin-right: 2px;min-width: 18px;}
</style>

<p id="countTimer">
&nbsp;
</p>

<script>
/*
Count down until any date script-
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free scripts here!
*/
var before="{{'until the CDA Ends!'|t }}";
var current="{{'Today the CDA ends, if we met our goal.'|t }}";
var montharray=new  Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");

function countdown(yr,m,d){
theyear=yr;themonth=m;theday=d;
var today=new Date();
var todayy=today.getYear();
if (todayy < 1000){todayy+=1900}
var todaym=today.getMonth();
var todayd=today.getDate();
var todayh=today.getHours();
var todaymin=today.getMinutes();
var todaysec=today.getSeconds();
var todaystring=montharray[todaym]+" "+todayd+", "+todayy+" "+todayh+":"+todaymin+":"+todaysec;
futurestring=montharray[m-1]+" "+d+", "+yr;
dd=Date.parse(futurestring)-Date.parse(todaystring);
dday=Math.floor(dd/(60*60*1000*24)*1);
dhour=Math.floor((dd%(60*60*1000*24))/(60*60*1000)*1);
dmin=Math.floor(((dd%(60*60*1000*24))%(60*60*1000))/(60*1000)*1);
dsec=Math.floor((((dd%(60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1);
if(dday==0&&dhour==0&&dmin==0&&dsec==1){
  document.getElementById("countTimer").innerHTML =current;
  return
}
else
document.getElementById("countTimer").innerHTML='<div class="countInner"><div class="ctWrap"><div class="ctInner"><span class="ctDay">' + dday + '</span><span class="ctDay-text">{{"days"|t }} </span></div></div><div class="ctWrap"><div class="ctInner"><span class="ctHour">' + dhour + '</span><span class="ctHour-text">hrs</span></div></div><div class="ctWrap"><div class="ctInner"><span class="ctMin">' + dmin + '</span><span class="ctMin-text">min</span></div></div><div class="ctWrap"><div class="ctInner"><span class="ctSec">' +dsec+ '</span><span class="ctSec-text">sec </span></div></div><div style="clear:both"><span class="time-end"> ' +before;
setTimeout("countdown(theyear,themonth,theday)",1000) +'</span></div></div></div>';
}
//enter the count down date using the format year/month/day
countdown(2016,03,20);
</script>
<style>
.no-clicky, .yes-clicky{position:absolute;top:0;left:0;}
.no-clicky{left:100px;}
.cdaq{padding-top:3px;margin-top:0;margin-bottom:12px;}
.cdap{position:relative;z-index:90;padding:0 0 20px 0;margin-top:0}
</style>
<h4 class="cdaq">{{"Will you donate to the CDA?"|t }}</h4>
<p class="cdap">
<a class="yes-clicky btn-sm btn-light-blue" href="https://phoenix.onedesa.com"> <i class="fa fa-check"></i> {{"Yes"|t }} &nbsp;</a>
<a class="no-clicky btn-sm btn-light-blue">&nbsp;&nbsp; No &nbsp;&nbsp;</a>
</p>
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script>
var moused = 0;
$(function(){
    $(".no-clicky").on({
        mouseover:function(){
            if (moused == 0){
                $(this).css({
                    left:(Math.random()*200)+"px",
                    top:(Math.random()*-150)+"px",
                });
                moused = 1;
            } else {
                $(this).css({
                    left:(Math.random()*200)+"px",
                    top:(Math.random()*150)+"px",
                });
                moused = 0;
            }
        }
    });
    $(".no-clicky").on({
        click:function(){
            $(this).css({
                left:(Math.random()*200)+"px",
                top:(Math.random()*-150)+"px",
            });
        }
    });
});
</script>

        </div>
        
        {% set anFeedurl = entry.announcementsFeedUrl %}
       {% set anLimit = 4 %}
       {% set anOffset = 0 %}
       {% set anCache = "P1D" %}
       
       {% cache globally for 1 hour %}
       {% set anItems = craft.feeds.getFeedItems(anFeedurl, anLimit, anOffset, anCache) %}
       {% for anItem in anItems|reverse %}
       
       {% if loop.index == 3 %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h6><i class="fa fa-rss"></i> {{ "Subscribe to Announcements"|t }}</h6>
          <p class="excerpt"><a href="http://stanneaz.onthecity.org/groups/{% if craft.locale == 'es_us' %}170927{% else %}159435{% endif %}" target="_blank">{{ "Join the Announcements group on The City"|t }}</a> {{"(account required)"|t }}. {{ "Or, receive them via email:"|t }}</p>
          <form class='email-subscribe-form' action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.locale == 'es_us' %}AnunciosParaStaAna{% else %}StAnneAnnouncements{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><div class='input-container clearfix'><input type="text" style="width:140px" name="email" placeholder="{{ "Enter your email address"|t }}..." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.locale == 'es_us' %}AnunciosParaStaAna{% else %}StAnneAnnouncements{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></div></form>
        </div>             
       {% endif %}

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <h5><a href="{{ anItem.permalink }}">{{ anItem.title|raw }}</a></h5>
          {% set anSummary = anItem.summary| trimit(120) %}
          <p class="excerpt">{{ anSummary|raw }} <a href="{{ anItem.permalink }}">{{ "Read More"|t }}</a></p>
        </div>
        {% endfor %}
        {% endcache %}
        
        <div style="clear:both"></div>
    
      
      
      <h4 class="caps-header text-center">
          <a href="{% if craft.locale == 'es_us' %}/es/connect/eventos{% else %}/connect/events{% endif %}">{{ "Events & Activities"|t }}</a>
      </h4>

      <hr class="short-divider centered">
      
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h6><i class="fa fa-rss"></i> {{ "Subscribe to Events"|t }}</h6>
          <p class="excerpt"><a href="http://stanneaz.onthecity.org/groups/{% if craft.locale == 'es_us' %}155455{% else %}145022{% endif %}" target="_blank">{{ "Join the Events group on The City"|t }}</a> {{"(account required)"|t }}. {{ "Or, receive them via email:"|t }}</p>
          <form class='email-subscribe-form' action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.locale == 'es_us' %}EventosStaAna{% else %}StAnneEvents{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><div class='input-container clearfix'><input type="text" style="width:140px" name="email" placeholder="{{ "Enter your email address"|t }}..." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.locale == 'es_us' %}EventosStaAna{% else %}StAnneEvents{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></div></form>
        </div>
        
       {% set feedurl = entry.eventFeedUrl %}
       {% set limit = 5 %}
       {% set offset = 0 %}
       {% set cache = "P1D" %}
       
       {% cache globally for 1 hour %}
       {% set items = craft.feeds.getFeedItems(feedurl, limit, offset, cache) %}
       {% for item in items|reverse %}

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <h5><a href="{{ item.permalink }}">{{ item.title }}</a></h5>
          {% set evSummary = item.summary| trimit(120) %}
          <p class="excerpt">{{ evSummary|raw }} <a href="{{ item.permalink }}">{{ "Read More"|t }}</a></p>
          <p class="posted-on">
              {% if craft.locale == 'es_us' %}
                    {{ item.date|date('d F, Y') }}
              {% else %}
                    {{ item.date|date('F d, Y') }}
              {% endif %}
          </p>
        </div>
        {% endfor %}
        {% endcache %}

        <h3 style="clear:both;text-align:center">
          <a href="{% if craft.locale == 'es_us' %}/es/connect/eventos{% else %}/connect/events{% endif %}">{{ "See All Events"|t }} &rsaquo;</a>
        </h3>


      <hr class="short-divider centered">
      <div class="text-center news-action-links">
        {% if entry.subLinks|length %}
        {% set sublinks = entry.subLinks %}
          {% for item in sublinks %}
            {% set link = item.subLinks %}
            <a href="{{ link.url }}" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ link.linkText }}</a>
          {% endfor %}
          <!-- <a href="/news-updates" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> More News</a>
          <a href="/events" class="btn btn-light-brown-border"><i class="fa fa-calendar"></i> Event Calendar</a> -->
        {% endif %}
      </div>
    </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->


  {# Set visited cookie #}
  {% if not craft.lj_cookies.get('visited') %}
    {{ craft.lj_cookies.set('visited', 'true', now | date_modify("+30 days").timestamp, '/' ) }}
  {% endif %}
{% endblock %}