{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block content %}
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">    
    {% if craft.lj_cookies.get('visited') %}
      <div class="featured-content-hero nopad" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
        {# <div class="container">
          <h2 class="caps-header">{{ "Featured at"|t }} <br>St. Anne</h2>
        </div> #}
        <div class=''>
         <div class="featured-items">
            <div id="featured-content-slider" class=''>
              {% if entry.featuredAtStAnne | length %}
              {% set thumb = {
                mode: 'crop',
                width: 2000,
                height: 690,
                quality: 75,
                position: 'top-center'
            } %}
                {% cache globally for 1 day %}
                <ul class='bxslider' id="slider1">
                {% for item in entry.featuredAtStAnne %}
                  {% set link = item.contentLink %}
                    <li>
                      {% if item.vimeoVideoId != 0 %}
                        <iframe src="//player.vimeo.com/video/{{ item.vimeoVideoId }}?api=1&amp;autoplay=false" width=""  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      {% else %}
                        {% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{% endif %}<img src="{{ item.eventImage[0].getUrl(thumb) }}" />
                         {% if item.contentLink is not empty %} </a>{% endif %}
                      {% endif %}
                      {# <div class="caption">
                        <h3>{% if item.contentLink is not empty %}<a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</h3>
                        <p>{{ item.description|trimit('170') }}</p>
                      </div> #}
                    </li>
                {% endfor %}
                </ul>
                {% endcache %}
              

              <div id="bx-pager">
              {% cache globally for 1 day %}
                {% set thumb2 = {
                    mode: 'crop',
                    width: 80,
                    height: 80,
                    quality: 75,
                    position: 'top-center'
                } %}
                {% for item in entry.featuredAtStAnne %}
                <a data-slide-index="{{ loop.index - 1 }}" href=""><img src="{{ item.eventImage[0].getUrl(thumb2) }}" /></a>
                {% endfor %}
              {% endcache %}
              </div>
            {% endif %}
            </div> <!-- #featured-content-slider -->
            <span id="responsiveFlag"></span>
          </div>
        </div> <!-- .featured-items -->
      </div> <!-- .block-featured-content -->
    {% else %}
      <div class="welcome-hero" {% if entry.pageImage|length %}style=" background-image:url({{ entry.pageImage[0].url }})" {% endif %}>
      <div class="container">
        <div class="text-pad">

          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
              <div class="featured-video-container">
                <div class="video-holder"></div>

                <div class="video-placeholder">
                  <div class="video-actions">
                    {% if entry.vimeoVideoId != 0 %}
                      {% set min = 0 %}
                      {% set sec = 0 %}
                       {% if entry.vimeoTimecode|length %}
                            {% set min = entry.vimeoTimecode[0].minutes %}
                            {% set sec = entry.vimeoTimecode[0].seconds %}
                       {% endif %}
                      {% set video = helpers.vimeo_video(entry.vimeoVideoId,entry.autoplay,min,sec) %}
                      <div data-video='embed' class="action-icon">
                        <i class="fa fa-play"></i>
                      </div>
                       <script type='text/template' id='video-embed'>{{ video }}</script>
                    {% endif %}
                  </div>

                  <!-- invisible (0 opacity) image to keep the aspect ratio -->
                  {% if entry.placeholderImage|length %}
                    <img src="{{ entry.placeholderImage[0].getUrl() }}" alt="St. Anne Video Area" width='780' height='438' />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="welcome-text">
            <h1>{{ entry.heading }}</h1>
            <h2>{{ entry.subHeading }}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="giant-block-links clearfix">
      {% if entry.quicklinks|length %}
        {% set qlinks = entry.quicklinks  %}
        {% for item in qlinks %}
          {% set link = item.qlink %}
          {% if loop.index == 1 %}
            <a href="{{ link.url }}" class="bg-dark-brown"><i class="fa fa-clock-o"></i> {{ link.text }}</a>
          {% elseif loop.index == 2 %}
            <a href="{{ link.url }}" class="bg-light-blue"><i class="fa fa-bullseye"></i> {{ link.text }}</a>
          {% else %}
            <a href="{{ link.url }}" class="bg-dark-blue"><i class="fa fa-envelope"></i> {{ link.text }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="page-content-container">
      <div class="container news-grid">
      <h4 class="caps-header text-center">{{ "Announcements"|t }}</h4>

      <hr class="short-divider centered">
      

      <div class="row news-blocks">
      
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        {% if craft.locale == 'es_us' %}
          <h5><a href="http://subsplash.com/stanne/app" target="_blank">¡Descarga nuestras aplicaciones de teléfono!</a></h5>
        {% else %}
          <h5><a href="http://subsplash.com/stanne/app" target="_blank">Download Our Parish Mobile Phone Apps!</a></h5>
        {% endif %}
        <p class="excerpt downAppArea"><a href="http://www.acstechnologies.com/products/the-city/features/the-city-app" target="_blank"><img src="http://assets.stanneaz.org/craft/general/assets/appIconTheCity2.jpg" alt="The City App" width="60" height="60" /><span>The City App</span></a> 
        &nbsp;&nbsp;&nbsp; 
        <a href="http://subsplash.com/stanne/app" target="_blank"><img src="http://assets.stanneaz.org/craft/general/assets/appIconStAnne2.jpg" alt="St. Anne App" width="60" height="60" /><span>St. Anne App</span></a></p>
        </div>
        
        {% if craft.locale == 'es_us' %}
            {% set cTitle = scheduleChanges.confessionAnnouncementTitleSpanish %}
            {% set cMsg = scheduleChanges.confessionScheduleChangeMessageSpanish %}
            {% set mTitle = scheduleChanges.massAnnouncementTitleSpanish %}
            {% set mMsg = scheduleChanges.massScheduleChangeMessageSpanish %}
            {% set msgUrl = 'http://stanneaz.org/es/about/times' %}
        {% else %}
            {% set cTitle = scheduleChanges.confessionAnnouncementTitleEnglish %}
            {% set cMsg = scheduleChanges.confessionScheduleChangeEnglish %}
            {% set mTitle = scheduleChanges.massAnnouncementTitleEnglish %}
            {% set mMsg = scheduleChanges.massScheduleChangeEnglish %}
            {% set msgUrl = 'http://stanneaz.org/about/times' %}
        {% endif %}
        
        {% if (cTitle is not empty) %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h5><a href="{{msgUrl}}">{{ cTitle }}</a></h5>
                <p class="excerpt">{{ cMsg|trimit(120) }} <a href="{{msgUrl}}">{{ "Read More"|t }}</a></p>
            </div>       
        {% endif %}
        
        {% if (mTitle is not empty) %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h5><a href="{{msgUrl}}">{{ mTitle }}</a></h5>
                <p class="excerpt">{{ mMsg|trimit(120) }} <a href="{{msgUrl}}">{{ "Read More"|t }}</a></p>
            </div>         
        {% endif %}

        
       {% set anFeedurl = entry.homeAnnouncementsFeedUrl %}
       
       {% if (cTitle is not empty) and (mTitle is not empty) %}
           {% set anLimit = 2 %}
           {% set loopNumber = 1 %}
       {% elseif ((cTitle is not empty) and (mTitle is empty)) or ((cTitle is empty) and (mTitle is not empty))  %}
           {% set anLimit = 3 %}
           {% set loopNumber = 2 %}
       {% else %}
           {% set anLimit = 4 %}
           {% set loopNumber = 3 %}
       {% endif %}
       
       {% set anOffset = 0 %}
       {% set anCache = "P1D" %}
       

       {% set anItems = craft.feeds.getFeedItems(anFeedurl, anLimit, anOffset, anCache) %}
       {% for anItem in anItems %}
       
       {% if loop.index == loopNumber %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h6><i class="fa fa-rss"></i> {{ "Subscribe to Announcements"|t }}</h6>
          <p class="excerpt"><a href="http://stanneaz.onthecity.org/groups/{% if craft.locale == 'es_us' %}170927{% else %}159435{% endif %}" target="_blank">{{ "Join the Announcements group on The City"|t }}</a> {{"(account required)"|t }}. {{ "Or, receive them via email:"|t }}</p>
          <form class='email-subscribe-form' action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.locale == 'es_us' %}AnunciosParaStaAna{% else %}StAnneAnnouncements{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><div class='input-container clearfix'><input type="text" style="width:140px" name="email" placeholder="{{ "Enter your email address"|t }}..." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.locale == 'es_us' %}AnunciosParaStaAna{% else %}StAnneAnnouncements{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></div></form>
        </div>             
       {% endif %}

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <h5><a href="{{ anItem.permalink }}">{{ anItem.title|raw }}</a></h5>
          {% set anSummary = anItem.summary| trimit(120) %}
          <p class="excerpt">{{ anSummary|raw }} <a href="{{ anItem.permalink }}">{{ "Read More"|t }}</a></p>
        </div>
        {% endfor %}
        
        </div>
        
        <div style="clear:both"></div>
    
      
      
      <h4 class="caps-header text-center">
          <a href="{% if craft.locale == 'es_us' %}/es/connect/eventos{% else %}/connect/events{% endif %}">{{ "Events & Activities"|t }}</a>
      </h4>

      <hr class="short-divider centered">

      <div class="row news-blocks">
      
        
       {% set feedurl = entry.eventFeedUrl %}
       {% set limit = 5 %}
       {% set offset = 0 %}
       {% set cache = "P1D" %}
       
       {% cache globally for 1 hour %}
       {% set items = craft.feeds.getFeedItems(feedurl, limit, offset, cache) %}
       {% for item in items|reverse %}
       
       {% if loop.index == 4 %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h6><i class="fa fa-rss"></i> {{ "Subscribe to Events"|t }}</h6>
          <p class="excerpt"><a href="http://stanneaz.onthecity.org/groups/{% if craft.locale == 'es_us' %}155455{% else %}145022{% endif %}" target="_blank">{{ "Join the Events group on The City"|t }}</a> {{"(account required)"|t }}. {{ "Or, receive them via email:"|t }}</p>
          <form class='email-subscribe-form' action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={% if craft.locale == 'es_us' %}EventosStaAna{% else %}StAnneEvents{% endif %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><div class='input-container clearfix'><input type="text" style="width:140px" name="email" placeholder="{{ "Enter your email address"|t }}..." title="{{ "Enter your email address"|t }}"/><input type="hidden" value="{% if craft.locale == 'es_us' %}EventosStaAna{% else %}StAnneEvents{% endif %}" name="uri"/><input type="hidden" name="loc" value="en_US"/><button type="submit" class="btn btn-sm btn-light-blue"><i class="fa fa-check"></i> {{ "Subscribe"|t }}</button></div></form>
        </div>             
       {% endif %}

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <h5><a href="{{ item.permalink }}">{{ item.title }}</a></h5>
          {% set evSummary = item.summary| trimit(120) %}
          <p class="excerpt">{{ evSummary|raw }} <a href="{{ item.permalink }}">{{ "Read More"|t }}</a></p>
          <p class="posted-on">
              {% if craft.locale == 'es_us' %}
                    {{ item.date|date('d F, Y') }}
              {% else %}
                    {{ item.date|date('F d, Y') }}
              {% endif %}
          </p>
        </div>
        {% endfor %}
        {% endcache %}

        <h3 style="clear:both;text-align:center">
          <a href="{% if craft.locale == 'es_us' %}/es/connect/eventos{% else %}/connect/events{% endif %}">{{ "See All Events"|t }} &rsaquo;</a>
        </h3>
      </div> <!-- .row -->

      <hr class="short-divider centered">
      <div class="text-center news-action-links">
        {% if entry.subLinks|length %}
        {% set sublinks = entry.subLinks %}
          {% for item in sublinks %}
            {% set link = item.subLinks %}
            <a href="{{ link.url }}" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ link.text }}</a>
          {% endfor %}
          <!-- <a href="/news-updates" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> More News</a>
          <a href="/events" class="btn btn-light-brown-border"><i class="fa fa-calendar"></i> Event Calendar</a> -->
        {% endif %}
      </div>
    </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->


  {# Set visited cookie #}
  {% if not craft.lj_cookies.get('visited') %}
    {{ craft.lj_cookies.set('visited', 'true', now | date_modify("+30 days").timestamp, '/' ) }}
  {% endif %}

{% endblock %}