  {%-set parent = craft.entries.section('pages').slug(craft.app.request.getSegment(2)).one()-%}
{%- set children = parent.getDescendants(2)-%}
{% import '_helpers/index' as helpers %}
<style>
    #parishioneraddress{display:none}
</style>
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage.exists() %}style=" background-image:url({{ entry.pageImage.one().url }})" {% endif %}>
      <div class="overlay">
        <div class="container">
          <h1 class="caps-header">{{ entry.title }}</h1>

        </div>
      </div>
    </div>
    {% if children.exists() %}
      <div class="section-navigation">
        <div class="container">
          <ul>
            <li><a href='{{ parent.url }}'>{{ parent.title }}</a>
              {% nav page in children %}
              <li {% if page.id == entry.id or entry.isDescendantOf(page) %}class="selected"{% endif %}>
                  {% if page.id == entry.id %}
                    <span>{{page.title}}</span>
                  {% else %}
                    {{ page.getLink() }}
                  {% endif %}
              </li>
              {% endnav %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div class="page-content-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div class="section-title">
              <h3>{{ entry.heading }}</h3>
              <h3 class="small">{{ entry.subHeading }}</h3>
            </div>

            <div class="row">
              <div class="col-sm-8">

                <div class="contact-form">
                  {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                  {% endmacro %}
                  {% import _self as macros %}

                  
                  <form method="post" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                    {{ redirectInput('contact-thankyou') }}
                    <input type='hidden' name='message[Subject]' value="General Contact" />
                    <div class="form-group">
                      <h5>{{ "How can we help you"|t }}?</h5>
                      {% if entry.contactUsFormOptions|length %}
                        <div class="form-row">
                          <label class="select input-full-width">
                            <select name="toEmail" id="toEmail" onchange="pageMover(this);">
                              <option value="{{'contact@stanneaz.org'|hash}}">{{ "Choose an option"|t }}...</option>
                              {% for option in entry.contactUsFormOptions %}
                                  <option value="{{option.optionValue|hash}}">{{ option.optionName }}</option>
                              {% endfor %}
                            </select>
                          </label>
                        </div>
                      {% endif %}
                      <div class="form-row">
                        <textarea name="message[body]" id="" rows="8" class="input-full-width" placeholder="{{ "Type your specific comment, question, or issue here"|t }} ...">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                        <span class="field-error">{% if message is defined %}{{ macros.errorList(message.getErrors('message')) }}{% endif %}</span>
                      </div>
                    </div> <!-- .form-group -->

                    <div class="form-group">
                      <h5>{{ "Please share your contact info below"|t }}:</h5>
                      <div class="form-row {% if message is defined %} form-error {% endif %}">
                        <div class="input-wrap">
                          <input type="text" name="fromName" id="fromName" class="input-full-width" placeholder="{{ "First & Last Name"|t }} *" value="{% if message is defined %}{{ message.fromName }}{% endif %}" required>
                        </div>
                        <span class="field-error">{% if message is defined %}{{ macros.errorList(message.getErrors('fromName')) }}{% endif %}</span>
                      </div> <!-- .form-row -->
                      
                      <input type="text" name="parishioneraddress" id="parishioneraddress"/>

                      <div class="form-row {% if message is defined %} form-error {% endif %}">
                        <input type="email" name="fromEmail" id="" class="input-full-width" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" placeholder="{{ "Email"|t }} *" required>
                        <span class="field-error">{% if message is defined %}{{ macros.errorList(message.getErrors('fromEmail')) }}{% endif %}</span>
                      </div>
                      <div class="form-row">
                        <input type="text" name="message[Phone]" id="message[Phone]" class="input-full-width" placeholder="{{ "Phone Number"|t }}">
                      </div>
                      
                      
                    

                    </div> <!-- .form-group -->
                    
                    {{ craft.recaptcha.renderBindButton('stanneFormButton') }}

                    <button id="stanneFormButton" type="submit" class="btn btn-lg btn-light-blue btn-full-width"><span class='button__text'>{{ "Send Now"|t }}</span></button>
                    <p class="text-center muted">{{ "We are usually able to respond within 1-3 days."|t }}</p>
                  </form>
                </div> <!-- .contact-form -->

              </div> <!-- .col -->

              <div class="col-sm-4 contact-options">
                <p>
                  {{ siteWideContent.parishAddress }}<span class="dot">&middot;</span> <a href="{{ helpers.map_link(siteWideContent.parishAddress) }}" target="_blank">{{ "Map"|t }}</a><br>
                  <strong>{{ "OFFICE"|t }}</strong> {{ siteWideContent.parishPhoneNumber }}<br>
                  <strong>{{ "FAX"|t }}</strong> {{ siteWideContent.parishFaxNumber }}<br>
                  <strong><a href="https://stanneaz.org/img/general/resources/St-Anne-Campus-Map.jpg" target="_blank">Campus Map</a></strong>
                </p>
                {% cache globally for 1 year %}
                {% if siteWideSocialLinks.socialLinks.exists() %}
                  <ul class="social-circles">
                    {% for service in siteWideSocialLinks.socialLinks.all() %}
                        <li>
                          <a href="{{ service.serviceUrl }}" class="bg-{{ service.service }}">
                            <i class='fa fa-{{ service.service }}'></i>
                          </a>
                        </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {% endcache %}

                <hr>
                
                {% if craft.app.language == "es-US" %}
                
                    <b>La Aplicación móvil de <br/>Sta. Ana</b><br>
                    <a href="https://parishsoft.ministryone.com/landing/GOo" target="_blank" class="btn btn-light-blue">Descargar la App</a>
                
                    
                {% else %}
                
                    <b>St. Anne Mobile App</b><br>
                    <a href="https://parishsoft.ministryone.com/landing/GOo" target="_blank" class="btn btn-light-blue">Download the App</a>
                
                {% endif %}
                
                <hr>
                
                <!--h6>{{ "Parish office hours"|t }}</h6-->
                {% if craft.app.language == "es-US" %}
                    <h6>Horario de oficina de la parroquia en agosto</h6>
                {% else %}
                    <h6>August Parish Office Hours</h6>
                {% endif %}

                {% if siteWideContent.parishOfficeHours.exists() %}
                  <p>
                    {% cache globally for 1 month %}
                    {% for item in siteWideContent.parishOfficeHours.one().hoursTable %}
                        <strong>{{ item.dayOfTheWeek }}</strong>
                        {% if item.redLabel == 1 %}
                          <span class="red"> {{ item.times|raw  }} </span>
                        {% else %}
                            {{ item.times|raw }}
                        {% endif %}
                        {% if item.exception == 1 %}<span class="muted">*</span> {% endif %} {% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                    {% endcache %}
                  </p>
                  
                  {% if siteWideContent.parishOfficeHours.one().exceptionReference is not empty %}
                    <p><span class="muted">*</span> {{ siteWideContent.parishOfficeHours.one().exceptionReference|raw }}</p>
                  {% endif %}
                {% endif %}
              </div>
            </div>

          </div> <!-- .col -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
<script>
function pageMover(obj){
	var option_user_selection = obj.options[ obj.selectedIndex ].text;
	var contactUrl = '';
	switch(option_user_selection)
	{
		case "Choose an option...":
			break;
		case "Escoga una opción...":
		    break;
		case "Bulletin & Media Content Submission":
		    contactUrl="https://communications.stanneaz.org";
			break;
		case "Contenido de boletines y medios":
		    contactUrl="https://communications.stanneaz.org";
			break;
		case "Counseling Services Regarding COVID-19":
		    contactUrl="https://giving.parishsoft.com/App/Form/1ade726c-d2bd-4ebb-b0f7-8d229bdcc896";
			break;
		case "Servicios de asesoramiento":
		    contactUrl="https://giving.parishsoft.com/App/Form/1ade726c-d2bd-4ebb-b0f7-8d229bdcc896";
			break;
		case "Grief and Bereavement Service":
		    contactUrl="https://giving.parishsoft.com/App/Form/33fc80a5-cd4d-4f2f-8e7d-a40e83d13f53";
			break;
		case "Servicio de duelo y duelo":
		    contactUrl="https://giving.parishsoft.com/App/Form/33fc80a5-cd4d-4f2f-8e7d-a40e83d13f53";
			break;
		case "Spiritual Direction":
		    contactUrl="https://giving.parishsoft.com/App/Form/78187e6c-fcd2-49ab-b4e4-bc8e450e4577";
			break;
		case "Director espiritual certificado":
		    contactUrl="https://giving.parishsoft.com/App/Form/78187e6c-fcd2-49ab-b4e4-bc8e450e4577";
			break;
	}
	if (contactUrl != ''){
	    window.location.href=contactUrl;
	}
}
</script>
