{% import '_helpers/index' as helpers %}
<style>
    #parishioneraddress{display:none}
    .cancelledItem{color:#c00;font-weight:bold}
</style>
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage.exists() %}style=" background-image:url({{ entry.pageImage.one().url }})" {% endif %}>
      <div class="overlay" style="background:none !important">
        <div class="container">
          <h1 class="caps-header">{{ entry.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
        
        {{ entry.body }}
		
        
        {{ entry.bodyb }}
        
        
        {{ entry.bodyc }}
        
        {{ entry.scriptarea|raw }}
        
        {{ entry.bodyd }}
        
                
        {{ entry.bodyBelowEverything }}

        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  

  
