  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">
    <div class="nonstickSection">
      <div class="container">
        <ul>
          <li class="selected"><a href="#">{{ "Media Library"|t }}</a></li>
          <li><a href="/live">{{ "Watch Live"|t }}</a></li>
        </ul>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">

        <div class="section-title">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <h3>{{ "Media Library"|t }}</h3>
              <h3 class="small">{{ "Find and filter media below"|t }}</h3>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 action-links">
              
              {% if craft.app.language == "en-US" %}
                 <a style="display:inline-block;padding:5px 0" href="https://podcasts.apple.com/us/podcast/st-annes-catholic-media-podcast/id1447766343" target="_blank"><i class="fa fa-apple"></i> Listen on Apple Podcasts</a>
              {% elseif craft.app.language == "es-US" %}
                 <a style="display:inline-block;padding:5px 0" href="https://podcasts.apple.com/au/podcast/la-parroquia-de-santa-ana-en-gilbert-arizona/id1448433481" target="_blank"><i class="fa fa-apple"></i> Escuchar en Apple Podcasts</a>
              {% endif %}
              
            </div>
          </div>
        </div>

        {% include "partials/filters/_media-filters" %}

        {% if craft.app.request.getParam('q') %}
          {% include "media/_filtered" %}
        {% else %}
          {% include "media/_landing" %}
        {% endif %} 
        
        
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
