{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block pagetype %}{% endblock %}

{% block content %} 
 <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">
    <div class="page-content-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            

            <div class="row">
              <div class="col-md-8 col-sm-7">
                <h3>{{ entry.title }}</h3>


                <div class="blog-post standard-container">
                  {% if entry.body|length %}
                      {{ entry.body|raw }}
                  {% else %}
                      {% if entry.shortDescription|length %}
                          {{ entry.shortDescription|raw }}
                      {% endif %}
                  {% endif %}
                  {% if entry.description|length %}
                      {{ entry.description|raw }}
                  {% endif %}
                  {% if entry.scriptarea|length %}
                      {{ entry.scriptarea|raw }}
                  {% endif %}
                    
                </div>
              </div>

              <div class="col-md-4 col-sm-5 blog-sidebar">
              
              {% if entry.eventListingImage.exists() %}
                <div class="featured-image-container">
                  <img src="{{ entry.eventListingImage.one().url }}" alt="" />
                </div>
              {% endif %}
              
                
                <div style="margin:20px 0 40px"><a href="{{ siteUrl }}connect/{% if craft.app.language == 'es-US' %}anuncios{% else %}announcements{% endif %}">{{ "View more announcements"|t }} &rsaquo;</a>
                </div>
                
                <hr>
                
                {% if siteWideSocialLinks.socialLinks.exists() %}
                  <h6>{{ "Connect with us"|t }}</h6>
                  <ul class="social-circles">
                    {% for service in siteWideSocialLinks.socialLinks.all() %}
                      {% set link = service.serviceUrl %}
                        <li>
                          <a href="{{ link.url }}" class="bg-{{ service.service }}">
                            <i class='fa fa-{{ service.service }}'></i>
                          </a>
                        </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                <hr>
                
                
                <h6>{{ "Subscribe"|t }}</h6>
                <p>{{ "Get the latest news and updates from St. Anne in Flocknote"|t }}!</p>
                {% if craft.app.language == 'es-US' %}
                    <a style="display:inline-block" href="https://stanneaz.flocknote.com/Actualizaciones" target="_blank" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ "Announcement Notifications"|t }}</a><br/>
                    <a href="https://stanneaz.flocknote.com/Eventos" class="btn btn-light-brown-border" target="_blank" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ "Event Notifications"|t }}</a><br/>
                {% else %}
                    <a style="display:inline-block" href="https://stanneaz.flocknote.com/Announcements" target="_blank" class="btn btn-light-brown-border"><i class="fa fa-rss"></i> {{ "Announcement Notifications"|t }}</a><br/>
                    <a href="https://stanneaz.flocknote.com/EventsActivities" class="btn btn-light-brown-border" class="btn btn-light-brown-border"><i class="fa fa-rss" target="_blank"></i> {{ "Event Notifications"|t }}</a><br/>
                {% endif %}
                
                 <p>{{ "Listen to Homilies"|t }}!</p>
                {% if craft.app.language == 'es-US' %}
                    <a href="https://podcasts.apple.com/au/podcast/los-medios-cat%C3%B3licos-de-santa-ana/id1448433481" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{ "Listen on Apple Podcasts"|t }}</a>
                    
                {% else %}
                    <a href="https://podcasts.apple.com/us/podcast/st-annes-catholic-media-podcast/id1447766343" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{ "Listen on Apple Podcasts"|t }}</a>
                
                {% endif %}
                
                

              </div> <!-- .col -->
            </div> <!-- .row -->
          </div> <!-- .col -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
  
{% endblock %}
