
  <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element" data-swiftype-name="body" data-swiftype-type="text">
    <div class="page-photo-title" {% if entry.pageImage.exists() %}style=" background-image:url({{ entry.pageImage.one().url }})" {% endif %}>
      <div class="overlay">
        <div class="container">
          <h1 class="caps-header">&nbsp;</h1>
        </div>
      </div>
    </div>

    <div class="page-content-container">
      <div class="container standard-container">
        {% if (siteWideContent.scheduleChange) and (entry.slug == 'mass-confession-schedule') %}
          <p id="scheduleMessage" style="color:#a00">
            {{ siteWideContent.scheduleChange }}
          </p>
        {% endif %}
        {{ entry.body }}
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
  
  {% if (siteWideContent.scheduleChange) and (entry.slug == 'mass-confession-schedule') %}
<script>
if (document.getElementById("confessionMsg") && document.getElementById("scheduleMessage")) {
document.getElementById("confessionMsg").innerHTML = '<span style="color:#a00">' + document.getElementById("scheduleMessage").innerHTML + '</span>';
}
</script>
{% endif %}
