<style>
.topBBar{background-color:#005F72;border-bottom:2px #895022 solid; color:#fff;text-align:center;height:15px;line-height:15px;font-size:8px}
.underTopBBar{background-color:#F6ECDF;color:#895022;text-align:center;height:23px;line-height:23px;font-size:90%}
.btmBBar{background-color:#005F72;color:#fff;font-size:90%;font-weight:bold;height:30px;line-height:30px;text-align:center;width:720px;margin:0 auto}
.underTopBBar span ,.btmBBar span{display:inline-block; width:48%; text-align:center;}
.bulletinPage{ 
    color: #333;
    overflow:auto;
}
.bulletinContainer{
    margin: 0;
    overflow:auto;
}
#bulletinArea1 {
    background: #fff url('https://stanneaz.org/img/general/assets/logo-stanne-bg-light3.png');
    min-height: 900px;
    width:720px;
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
    text-align:center;
}
.staffTile{float:left;display:block;width:182px;height:128px;font-size:70%;text-align:left;}
.staffinfo{line-height:16px}
</style>

<div class="bulletinPage">
    <div class="bulletinContainer">
        <div id="bulletinArea1">

            <div class="topBBar">&nbsp;</div>
            <div class="underTopBBar">
                <span>Deacons and Staff</span>
	            <span>Clero y personal de la parroquia</span>
            </div>
            <div style="padding:0 0 0 20px">


    {% set staff = craft.categories.group('staffGroup') %}
    {% for pos in staff.all() %}

      {% set people = craft.entries.section('people').relatedTo(pos).orderBy('personLastName').all() %}


      {% for person in people %}
      
          {% if (not person.hideFromBulletin | length) and (pos.title != 'Divine Master') and (pos.title != 'Successor of St. Peter the Apostle') and (pos.title != 'Successor of Apostles, in Phoenix, Arizona') and (pos.title != 'Clergy - Priests')  %}
      
          <div class="staffTile">
            
              {% if person.profileImage is not empty %}
              <div class="col col-avatar" style="margin:0;padding:0;height:61px">
                  <img src="{{ person.profileImage[0].getUrl('tf60') }}" alt="{{ person.title }}" class="avatar round-avatar" />
              </div>
              {% endif %}
              <div class="staffinfo">{{ person.professionalTitle|replace('Catechesis of the Good Shepherd', 'CGS')|replace('Catequesis del Buen Pastor','CBP')|replace('Administration Coordinator', 'Administration') }}:</div>
              <div class="staffinfo">{{ person.title|replace('Deacon', 'Dcn.') }}</div>
              {% if person.phoneNumber is not empty %}
              <div class="staffinfo">Ph. {{ person.phoneNumber }}</div>
              {% endif %}
              {% if person.emailAddress is not empty %}
                  <div class="staffinfo">{{ person.emailAddress }}</div>
              {% endif %}
            
          </div> <!-- .staff-member -->
      
          
          
          {% endif %}
          
      {% endfor %}
      

    {% endfor %} 
    
    <div style="clear:both"></div>
    
            </div>
    
    <div class="btmBBar">
	    <span>www.stanneaz.org</span>
	    <span>stanneaz.flocknote.com</span>
	</div>


    </div> 
  </div> 
</div>

