<style>
.btmBBar{background-color:#005F72;color:#fff;font-size:90%;font-weight:bold;height:30px;line-height:30px;text-align:center;width:720px;margin:0 auto}
.underTopBBar span ,.btmBBar span{display:inline-block; width:48%; text-align:center;}
.bulletinPage{
    background: #fff url('https://stanneaz.org/img/general/assets/logo-stanne-bg-light.png'); 
    color: #333;
    overflow:auto;
}
.bulletinContainer{
    margin: 0;
    overflow:auto;
}
#bulletinArea1 {
    font-size:14px;
    min-height: 900px;
    width:720px;
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
    text-align:center;
}
.priestTile{display:block;float:left;font-size:12px;width:183px;height:95px;text-align:left;}
.priestTile b{font-size:14px}
.priestLast{width:170px}
.priestTileContact{float:left;display:block;width:103px;height:95px;}
.priestLast .priestTileContact{width:107px}
.priestTilePicture{float:left;display:block;width:70px;height:95px}
.priestLast .priestTilePicture{width:62px}
</style>

        
{% import 'events/_event-time-variables' as macros %}

{% set eMarker = 1 %} 
{% set aMarker = 1 %} 

{% set adateinenglish = "Next sunday"|date("F d, Y") %}
{% set adateinspanish = "Next sunday"|date("d \\d\\e F \\d\\e Y")|replace('January', 'enero')|replace('February', 'febrero')|replace('March', 'marzo')|replace('April', 'abril')|replace('May', 'mayo')|replace('June', 'junio')|replace('July', 'julio')|replace('August', 'agosto')|replace('September', 'septiembre')|replace('October', 'octubre')|replace('November', 'noviembre')|replace('December', 'diciembre') %}


<div class="bulletinPage">
    <div class="bulletinContainer">
        <div id="bulletinArea1">
    
    
<table width="720" style="margin:0 auto">
	<tr>
		<td colspan="4" style="padding-bottom:10px">
		{{ entry.body }}
		</td>
	</tr>

	<tr>

		<td width="350" valign="top">
		
		    <h3 style="font-weight:bold;font-size:20px;margin-top:0;padding-top:0">Announcements / Anuncios </h3>
    
    
{% for entry in craft.entries.section('announcements').limit('80').all() %}

    {% if not entry.hideFromBulletin | length %}   
    
		<div style="font-weight:bold">{{ entry.title }}</div>
		<div style="margin: 0 0 15px 0">
		{% if entry.heading.exists() %}
	        {{ entry.heading|raw }}
		{% endif %}
		</div>	
	    {% set aMarker = aMarker + 1 %} 
	
	{% endif %}
	
{% endfor %}
 
{% for entry in craft.entries.section('events').orderBy('eventStartDate ASC').limit('80').all() %}

	{% if (entry.eventEndDate|date('Ymd') >= now|date('Ymd')) and (not entry.hideFromBulletin | length) %}

	    <div style="font-weight:bold">{{ macros.date_time_options(entry.afterMass, craft.app.language, entry.eventStartDate, entry.eventEndDate, entry.tbdTba, entry.showDatesOnly) }}</div>
		<div style="margin: 0 0 15px 0">{{ entry.title }}</div>
	    
	    {% set eMarker = eMarker + 1 %} 
     
	{% endif %}
	
{% endfor %}

		    {{ entry.bodyb }}
     
     
		</td>
		<td width="10" valign="top" style="border-right: 2px #895022 solid">
		   &nbsp;
		</td>
		<td width="10" valign="top">
		   &nbsp;
		</td>
		<td valign="top" width="350">
		     <div style="font-weight:bold;font-size:18px;color:#005F72;margin:0 0 15px 0">
		         
			     {{ adateinenglish }}<br>
		         {# % set limit = 1 %}
{% set offset = 0 %}
{% set cache = "PT1H" %}
{% cache globally for 1 hour %}
{% set items = craft.app.feeds.getFeedItems("https://bible.usccb.org/readings.rss", limit, offset, cache) %}
{% for item in items %}
  {% if item.title| length %} 
      {{ item.title }}
  {% endif %}		
{% endfor %}
{% endcache % #}


{% set startDate = now | date | atom %}
{% set cal = parseIcs("/home/stanneaz/extras.stanneaz.org/utilities/liturgy2021.ics") %}
{% set events = cal.eventsFromRange(startDate) %}
{% for event in events %}
    {% if event.dtstart == "Next sunday"|date("Ymd") %}
        {{ event.summary }}
    {% endif %}	
{% endfor %}<br>

	 {{ adateinspanish }}<br>


{% set calEs = parseIcs("/home/stanneaz/extras.stanneaz.org/utilities/liturgy2021-es.ics") %}
{% set esevents = calEs.eventsFromRange(startDate) %}
{% for event in esevents %}
    {% if event.dtstart == "Next sunday"|date("Ymd") %}
        {{ event.summary }}
    {% endif %}	
{% endfor %}

	        </div>
	 
	        {{ entry.bodyc }}
	 
	 
	    </td>
	</tr>
</table>
<div style="border-top: 2px #895022 solid; height:5px; font-size:1px; line-height:5px;width:680px;margin:0 auto;"></div>
<table width="720" style="margin:0 auto;">
	<tr>
		<td valign="top">


   {% set staff = craft.categories.group('staffGroup') %}
    {% for pos in staff.all() %}

      {% set people = craft.entries.section('people').relatedTo(pos).orderBy('personLastName').all() %}
      <div>
      {% for person in people %}
      
          {% if (pos.title == 'Clergy - Priests') and (not person.hideFromBulletin | length) %}
      
          <div class="priestTile{% if 'Riccitelli' in person.title %} priestLast{% endif %}">
              <div class="priestTileContact">
                  <div style="margin-top:15px;"><b>{{ person.professionalTitle }}</b></div>
                  <div>{{ person.title|replace('Father', 'Fr.')|replace('Muñoz', 'M.') }}</div>
                  {% if person.phoneNumber is not empty %}
                      <div>Ph. {{ person.phoneNumber }}</div>
                  {% endif %}
                  {% if person.emailAddress is not empty %}
                      <div>{{ person.emailAddress }}</div>
                  {% endif %}
              </div>
              <div class="priestTilePicture">
                  {% if person.profileImage.exists() %}
                      <div class="col col-avatar" style="margin:0;padding:0">
                          <img src="{{ person.profileImage.one().getUrl('tf70') }}" alt="{{ person.title }}" class="avatar round-avatar" />
                      </div>
                  {% endif %}
              	</div>
            
          </div> <!-- .staff-member -->
      
          
          
          {% endif %}
          
      {% endfor %}
      
      <div style="clear:both"></div>
      </div> <!-- .staff-group -->
    {% endfor %}


        </td>
	</tr>
</table>

        </div>
    
        <div class="btmBBar">
	        <span>www.stanneaz.org</span>
	        <span>stanneaz.flocknote.com</span>
	    </div>
	    
    </div>
</div>
