<style>
.slideOuterContainer{ 
    background: #005f72 url('https://stanneaz.org/img/general/assets/logo-stanne-bg.png'); 
    color: #ffffff;
    overflow:hidden;
}
.slideContainer{
    margin: 0 20px;
    overflow:hidden;
}
#slides {
    position: relative;
    height: 1100px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align:center;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    text-align:center;
    overflow:hidden;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.slide .zDate{font-size:32px;padding:0}
.slide .zTitle{font-size:34px;font-weight:bold;margin-bottom:20px;padding:0}
.slide h4{font-size:38px; margin:0 0 20px 0; padding:0}
.slide img{margin:0 0 20px 0}
.slide p, .slide div{font-size:24px;margin:0;padding:0 0 20px 0}
.showing {
    opacity: 1;
    z-index: 2;
}
</style>

{{ entry.body }}

{% import 'events/_event-time-variables' as macros %}

{% set eMarker = 1 %}

<div class="slideOuterContainer">
  <div class="slideContainer">

    <div id="slides">
 
{% for entry in craft.entries.section('announcements').limit('80').all() %}

    {% if not entry.hideFromDigitalMediaBoards | length %}             
	
	<div class="slide{% if eMarker == 1 %} showing{% endif %}">
		<h4>{{ entry.title }}</h4>
        {% if entry.rotationImage.exists() %}
	        <img src="{{ entry.rotationImage.one().url }}" alt="" height="200" />
	    {% else %}
	        {% if entry.eventListingImage.exists() %}
	            <img src="{{ entry.eventListingImage.one().url }}" alt="" width="321" height="200" />
	        {% endif %}
	    {% endif %}
		{% if entry.shortDescription|length %}
	        <div>{{ entry.shortDescription|raw }}</div>
	    {% else %}
		    {% if entry.body|length < 450 %}
			    <div>{{ entry.body|raw }}</div>
		    {% else %}
		        <div>{{ entry.body|slice(0, 450)|striptags|raw }}...</div>
			    <p>... More information available on stanneaz.org....</p>
			{% endif %}
		{% endif %}
	</div>
	
	{% set eMarker = eMarker + 1 %} 
	
	{% endif %}
	
{% endfor %}

{% for entry in craft.entries.section('events').orderBy('eventStartDate ASC').limit('80').all() %}

	{% if (entry.eventStartDate|date('Ymd') >= now|date('Ymd')) and (not entry.hideFromDigitalMediaBoards | length) %}

		<div class="slide">
	        <div class="zDate">{{ macros.date_time_options(entry.afterMass, craft.app.language, entry.eventStartDate, entry.eventEndDate, entry.tbdTba, entry.showDatesOnly)|replace(' &amp; ',' & ') }}</div>
	        <div class="zTitle">{{ entry.title }}</div>
	        {% if entry.rotationImage.exists() %}
	            <img src="{{ entry.rotationImage.one().url }}" alt="" height="200" />
	        {% else %}
	            {% if entry.eventListingImage.exists() %}
	            <img src="{{ entry.eventListingImage.one().url }}" alt="" width="321" height="200" />
	            {% endif %}
	        {% endif %}
	        
	        {% if entry.shortDescription|length  %}
	            <div>{{ entry.shortDescription|raw }}</div>
	        {% else %}
	            {% if entry.body|length < 450 %}
                    <div>{{ entry.body|raw }}</div>
                {% else %}
		            <div>
                        {{ entry.body|slice(0, 450)|striptags|raw }}...
                    </div>
		            <p>... More information available at stanneaz.org/events....</p>
	            {% endif %}
	        {% endif %}
		</div>
	
        {% set eMarker = eMarker + 1 %} 
    
	{% endif %}
	
{% endfor %}
</div>
        

<script>

var slides = document.querySelectorAll('#slides .slide');
var currentSlide = 0;
var slideInterval = setInterval(nextSlide,10000);

function nextSlide() {
    slides[currentSlide].className = 'slide';
    currentSlide = (currentSlide+1)%slides.length;
    slides[currentSlide].className = 'slide showing';
}

</script>

  </div>
</div>
