{# Homepage Template #}
{% extends "layouts/_layout" %}

{% block pagetype %}{% endblock %}

{% block content %} 
 <!-- .sf-content for flex sticky footer -->
  <div class="sf-content nav-slide-element">
    <div class="page-content-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            
            {% if entry.postImage.exists() %}
              <div class="featured-image-container">
                <img src="{{ entry.postImage[0].url }}" alt="" />
              </div>
            {% endif %}

            <div class="row">
              <div class="col-md-8 col-sm-7">
                <h3>{{ entry.title }}</h3>
                {% if entry.postAuthor.exists() %}
                  <h3 class="small">{{ entry.postAuthor.title }}</h3>
                {% endif %}

                <div class="blog-post">
                  {% if entry.lead is not empty %}
                    <p class="lead">{{ entry.lead }}</p>
                  {% endif %}

                  {{ entry.body }}

                  <p class="published">{{ "Published"|t }} {{ entry.postDate|date('F d, Y') }}
                  {% set topics = entry.newsTopics %}
                  {% for topic in topics.all() %}
                      {% if loop.first %},{% endif %}
                      <a href='#topic:{{ topic.id }}'>{{ topic.title }}</a>{% if not loop.last %},{% endif %}
                  {% endfor %}</p>
                </div>
              </div>

              <div class="col-md-4 col-sm-5 blog-sidebar">
                {% if entry.postAuthor.exists() %}
                  {% set author = entry.postAuthor[0] %}
                  <div class="author-bio clearfix">
                    {% if author.profileImage.exists() %}
                     <img src="{{ author.profileImage[0].getUrl('tf160') }}" alt="" class="avatar round-avatar" />
                    {% endif %}

                    <div class="bio">
                      <h5>{{ author.title }}</h5>
                      <p>{{ author.personFirstName }} is a {{ author.professionalTitle }} at St. Anne's.</p>

                      <ul class="links">
                        {% if author.socialLinks.exists() %}
                          {% for service in author.socialLinks %}
                          {% set link = service.serviceUrl %}
                            <li><a href='{{ link.url }}' class='{{ service.service | lower }} social__link'><i class='fa fa-{{ service.service }}'></i></a></li>
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </div>
                  </div> <!-- .author-bio -->
                {% endif %}
                
                <div style="margin:5px 0 40px"><a href="{{ siteUrl }}news-updates">{{ "View more news & updates"|t }} &rsaquo;</a>
                </div>
                
                <hr>
                
                {% if siteWideSocialLinks.socialLinks.exists() %}
                  <h6>{{ "Connect with us"|t }}</h6>
                  <ul class="social-circles">
                    {% for service in siteWideSocialLinks.socialLinks.all() %}
                      {% set link = service.serviceUrl %}
                        <li>
                          <a href="{{ link.url }}" class="bg-{{ service.service }}">
                            <i class='fa fa-{{ service.service }}'></i>
                          </a>
                        </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                <h6>{{ "Subscribe"|t }}</h6>
                <p>{{ "Get the latest news and updates from St. Anne in your RSS feed or email inbox"|t }}!</p>
                {% if craft.app.language == 'es-US' %}
                
                    <a href="http://feeds.feedburner.com/ParroquiaStaAnaNoticias" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> Noticias y Actualizaciones RSS</a><br/>
                
                    <a href="http://feeds.feedburner.com/AnunciosParaStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Announcements RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/EventosStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Events RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/AudiosdeParroquiaStaAna" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{ "Podcasts RSS"|t }}</a>
                    
                {% else %}
                
                    <a href="http://feeds.feedburner.com/stannenewsandupdates" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"News & Updates RSS"|t }}</a><br/>
                
                    <a href="http://feeds.feedburner.com/StAnneAnnouncements" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{"Announcements RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/StAnneEvents" class="btn btn-light-brown-border"><i class="fa fa-rss" target="_blank"></i> {{"Events RSS"|t }}</a><br/>
                    <a href="http://feeds.feedburner.com/stannecatholicpodcast" class="btn btn-light-brown-border" target="_blank"><i class="fa fa-rss"></i> {{ "Podcasts RSS"|t }}</a>
                
                {% endif %}
                
                

              </div> <!-- .col -->
            </div> <!-- .row -->
          </div> <!-- .col -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-content-container -->
  </div> <!-- .sf-content -->
{% endblock %}
